In [1]:
import pandas as pd
pd.set_option("display.max_columns",250)
import os
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import xlsxwriter
sns.set()

In [2]:
processed_transit_survey_path = r"output"
spa_input_path = r"SPA_inputs"
spa_output_path = r"SPA_outputs" # from OneDrive folder.

output_path = r"output"
tour_mode_choice_output_path = os.path.join(output_path, 'tour_mode_choice')
trip_mode_choice_output_path = os.path.join(output_path, 'trip_mode_choice')

In [3]:
# Reading in tables
obs_df = pd.read_csv(os.path.join(processed_transit_survey_path, 'processed_obs.csv'))

spa_in_hh_df = pd.read_csv(os.path.join(spa_input_path, "hh.csv"), encoding='latin1')
spa_in_per_df = pd.read_csv(os.path.join(spa_input_path, "per.csv"), encoding='latin1')
spa_in_place_df = pd.read_csv(os.path.join(spa_input_path, "place.csv"), encoding='latin1')

spa_out_per_df = pd.read_csv(os.path.join(spa_output_path, "persons.csv"), encoding='latin1')
spa_out_tours_df = pd.read_csv(os.path.join(spa_output_path, "tours.csv"), encoding='latin1')
spa_out_trips_df = pd.read_csv(os.path.join(spa_output_path, "trips.csv"), encoding='latin1')

# warnings on column types...
spa_out_per_df.head()

C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13,21,25,33,35,37,43,45,67,73,78,95) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11,15,19,37,39,64,67) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7,18,33,39,40,42,43,57) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (219) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (51,55,58,62,65,70,86) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,HH_ID,PER_ID,PERSONTYPE,AGE,EMPLY,HOURS,EMP_CAT,STUDE,SCHOL,STU_CAT,PERSONTYPE0,EMP_CAT0,STU_CAT0,ERROR
0,1000395,1,1,60,1.0,40.0,1,3,NaN,3,NaN,NaN,NaN,NaN
1,1000395,2,5,83,2.0,NaN,3,3,NaN,3,NaN,NaN,NaN,NaN
2,1000447,1,4,40,2.0,NaN,3,3,NaN,3,NaN,NaN,NaN,NaN
3,1000447,2,4,43,2.0,NaN,3,3,NaN,3,NaN,NaN,NaN,NaN
4,1000447,3,7,14,NaN,NaN,4,1,4.0,1,NaN,NaN,NaN,NaN

In [4]:
output_excel_path = os.path.join(output_path, 'calibration_target_tables.xlsx')
excel_writer = pd.ExcelWriter(output_excel_path, engine='xlsxwriter')

# Matching mode  and purpose names between surveys

In [5]:
output_calibration_modes = ['DRIVEALONE','SHARED2','SHARED3', 'WALK', 'BIKE', 'WALK-TRANSIT',
                            'PNR-TRANSIT','KNR-TRANSIT', 'SCHOOLBUS', 'All']
output_calibration_purposes = ['Work', 'University', 'School', 'Work sub-tour', 'Ind-Maintenance', 'Ind-Discretionary',
                               'Joint-Maintenance', 'Joint-Discretionary',  'All']

#### Household Travel Survey

In [6]:
# Merging weighting variables for trips
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    spa_in_per_df[['SAMPN', 'PERNO', 'PERWGT', 'SWEXP']],
    how='left',
    left_on=['HH_ID', 'PER_ID'],
    right_on=['SAMPN', 'PERNO']
)

# expansion factor already includes the weight
spa_out_trips_df["PER_WEIGHT"] = spa_out_trips_df['SWEXP']

In [7]:
adults_df = spa_in_per_df[spa_in_per_df['AGE'].isin(range(18, 99 + 1))]['SAMPN'].value_counts().reset_index()
adults_df.columns=['SAMPN', 'num_adults']

print(adults_df.groupby('num_adults').count())

            SAMPN
num_adults
1            5607
2           11946
3            1873
4             404
5              84
6              14
7               4

In [8]:
# Calculating auto sufficiency for households

spa_in_hh_df.drop(columns=['num_adults'], errors = 'ignore')
spa_in_hh_df = pd.merge(
    spa_in_hh_df,
    adults_df[['SAMPN', 'num_adults']],
    how='left',
    left_on=['SAMPN'],
    right_on=['SAMPN']
)

In [9]:
spa_in_hh_df['auto_suff'] = 0

spa_in_hh_df.loc[((spa_in_hh_df['HHVEH'] < spa_in_hh_df['num_adults']) 
                     & (spa_in_hh_df['HHVEH'] > 0)),
                    'auto_suff'] = 1
spa_in_hh_df.loc[((spa_in_hh_df['HHVEH'] >= spa_in_hh_df['num_adults']) 
                     & (spa_in_hh_df['HHVEH'] > 0)),
                    'auto_suff'] = 2

In [10]:
# Merging auto suffiency from Households
spa_out_tours_df = pd.merge(
    spa_out_tours_df,
    spa_in_hh_df[['SAMPN', 'auto_suff', 'HHWGT']],
    how='left',
    left_on='HH_ID',
    right_on='SAMPN'
)


# Merging weighting variables for tours
spa_out_tours_df = pd.merge(
    spa_out_tours_df,
    spa_in_per_df[['SAMPN', 'PERNO', 'PERWGT', 'SWEXP']],
    how='left',
    left_on=['HH_ID', 'PER_ID'],
    right_on=['SAMPN', 'PERNO']
)

# Calculate weight as weight * exp
spa_out_tours_df["HH_WEIGHT"] = spa_out_tours_df['SWEXP']
spa_out_tours_df["PER_WEIGHT"] = spa_out_tours_df['SWEXP']

In [11]:
# Merging joint status and subtour status from tours to trips
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    spa_out_tours_df[['HH_ID', 'PER_ID', 'TOUR_ID', 'JOINT_STATUS', 'IS_SUBTOUR', 'HH_WEIGHT']],
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID']
)

#### Removing duplicate joint trips and tours

In [12]:
spa_out_tours_df.loc[spa_out_tours_df['JOINT_STATUS'] == 3, 'PER_WEIGHT'].sum()

944450.0846335995

In [13]:
# fully joint tours are joint_status == 3
joint_tours_df = spa_out_tours_df[spa_out_tours_df['JOINT_STATUS'] == 3]
print("Unweighted number of joint tours: ", len(joint_tours_df))

# selecting the tour from the first person in the tour file
unique_joint_tours_df = joint_tours_df.groupby(['HH_ID', 'TOUR_ID']).first().reset_index()
unique_joint_tours_df['unique_joint_tour'] = 1
print("Unweighted number of unique joint tours: ", len(unique_joint_tours_df))

# denoting the joint tour to keep
spa_out_tours_df = pd.merge(
    spa_out_tours_df,
    unique_joint_tours_df[['HH_ID', 'PER_ID', 'TOUR_ID', 'unique_joint_tour']],
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID']
)

# removing non-unique joint tours
spa_out_tours_df = spa_out_tours_df[
    (spa_out_tours_df['JOINT_STATUS'] != 3)
    | ((spa_out_tours_df['JOINT_STATUS'] == 3) & (spa_out_tours_df['unique_joint_tour'] == 1))]


assert len(spa_out_tours_df[spa_out_tours_df['JOINT_STATUS'] == 3]) == len(unique_joint_tours_df), "Joint tours not unique!"

Unweighted number of joint tours:  10523
Unweighted number of unique joint tours:  5979

In [14]:
# fully joint trips are joint_status == 3
joint_trips_df = spa_out_trips_df[(spa_out_trips_df['FULLY_JOINT'] == 1)]
print("Unweighted number of joint trips: ", len(joint_trips_df))

# selecting the tour from the first person in the tour file
unique_joint_trips_df = joint_trips_df.groupby(['HH_ID', 'TOUR_ID', 'TRIP_ID']).first().reset_index()
unique_joint_trips_df['unique_joint_trip'] = 1
print("Unweighted number of unique joint trips: ", len(unique_joint_trips_df))

# denoting the joint tour to keep
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    unique_joint_trips_df[['HH_ID', 'PER_ID', 'TOUR_ID', 'TRIP_ID', 'unique_joint_trip']],
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID', 'TRIP_ID']
)
# removing non-unique joint trips. All joint trips should belong to a fully joint tour (checked implicity in assert)
spa_out_trips_df = spa_out_trips_df[
    (spa_out_trips_df['JOINT_STATUS'] != 3)
    | ((spa_out_trips_df['JOINT_STATUS'] == 3) & (spa_out_trips_df['unique_joint_trip'] == 1))]

Unweighted number of joint trips:  29381
Unweighted number of unique joint trips:  16592

#### Mapping spa purpose codes to calibration purpose categories

In [15]:
spa_purp_dict = {
    0: 'HOME',
    1: 'WORK',
    2: 'UNIVERSITY',
    3: 'SCHOOL',
    4: 'ESCORTING',
    5: 'SHOPPING',
    6: 'MAINTENANCE',
    7: 'EAT OUT',
    8: 'SOCIAL/VISIT',
    9: 'DISCRETIONARY',
    10: 'WORK-RELATED',
    11: 'LOOP',
    12: 'CHANGE MODE',
    13: 'OTHER',
}
spa_out_trips_df['spa_tour_purpose'] = spa_out_trips_df['TOURPURP'].apply(lambda x: spa_purp_dict[x])

spa_to_abms_purp_dict = {
     'HOME': 'Home',
     'WORK': 'Work',
     'UNIVERSITY': 'University',
     'SCHOOL': 'School',
     'ESCORTING': 'Maintenance',
     'SHOPPING': 'Maintenance',
     'MAINTENANCE': 'Maintenance',
     'EAT OUT': 'Discretionary',
     'SOCIAL/VISIT': 'Discretionary',
     'DISCRETIONARY': 'Discretionary',
     'WORK-RELATED': 'Maintenance',
     'LOOP': 'Discretionary',
     'CHANGE MODE': 'Change Mode',
     'OTHER': 'Discretionary',
}
spa_out_trips_df['tour_purpose'] = spa_out_trips_df['spa_tour_purpose'].apply(lambda x: spa_to_abms_purp_dict[x])
spa_out_trips_df.loc[spa_out_trips_df['IS_SUBTOUR'] == 1, 'tour_purpose'] = 'Work sub-tour'

In [16]:
spa_out_trips_df['tour_purpose'].value_counts(dropna=False)

Maintenance      84908
Discretionary    35386
Work             16954
School           16854
University        2721
Work sub-tour     2513
Change Mode         39
Name: tour_purpose, dtype: int64

In [17]:
def group_tour_purposes(tour_purpose):
    if tour_purpose in ['Work', 'University', 'School', 'Work sub-tour']:
        return tour_purpose
    if tour_purpose in ['Escorting','Shopping','Maintenance']:
        return 'Ind-Maintenance'
    if tour_purpose in ['Social/Rec', 'Eat Out', 'Discretionary', 'Home', 'Change Mode']:
        return 'Ind-Discretionary'
    return 'Ind-Discretionary'

spa_out_trips_df['grouped_tour_purpose'] = spa_out_trips_df['tour_purpose'].apply(lambda x: group_tour_purposes(x))

# joint status of 3 is fully joint tour
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_purpose'] == 'Ind-Maintenance') & (spa_out_trips_df['JOINT_STATUS'] == 3),
                 'grouped_tour_purpose'] = 'Joint-Maintenance'
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_purpose'] == 'Ind-Discretionary') & (spa_out_trips_df['JOINT_STATUS'] == 3),
                 'grouped_tour_purpose'] = 'Joint-Discretionary'
spa_out_trips_df['grouped_tour_purpose'].value_counts(dropna=False)

Ind-Maintenance        76226
Ind-Discretionary      28354
Work                   16954
School                 16854
Joint-Maintenance       8682
Joint-Discretionary     7071
University              2721
Work sub-tour           2513
Name: grouped_tour_purpose, dtype: int64

In [18]:
spa_out_trips_df['TRIPMODE'].value_counts(dropna=False)

1     83998
3     34924
5     18966
7     10591
18     4046
8      3268
9      2773
12      339
20      253
15       95
19       91
0        31
Name: TRIPMODE, dtype: int64

In [19]:
spa_mode_dict = {
    1: 'DRIVEALONE',
    2: 'DRIVEALONE',
    3: 'SHARED2',
    4: 'SHARED2',
    5: 'SHARED3',
    6: 'SHARED3',
    7: 'WALK',
    8: 'BIKE',
    9: 'WALK-LOCAL',
    10: 'WALK-PREMIUM',
    11: 'WALK-PREMIUM',
    12: 'PNR-LOCAL',
    13: 'PNR-PREMIUM',
    14: 'PNR-PREMIUM',
    15: 'KNR-LOCAL',
    16: 'KNR-PREMIUM',
    17: 'KNR-PREMIUM',
    18: 'SCHOOLBUS',
    19: 'SHARED2',
    20: 'OTHER',
    0: 'OTHER'
}
# change taxi to shared2
spa_tourmode_dict = {
    1: 'DRIVEALONE',
    2: 'SHARED2',
    3: 'SHARED3',
    4: 'WALK',
    5: 'BIKE',
    6: 'WALK-TRANSIT',
    7: 'PNR-TRANSIT',
    8: 'KNR-TRANSIT',
    9: 'SCHOOLBUS',
    10: 'SHARED2',
    11: 'OTHER',
}


spa_out_trips_df['linked_trip_mode'] = spa_out_trips_df['TRIPMODE'].apply(lambda x: spa_mode_dict[x])
spa_out_trips_df['tour_mode'] = spa_out_trips_df['TOURMODE'].apply(lambda x: spa_tourmode_dict[x])

In [20]:
def group_transit_modes(df, mode):
    series_name = 'grouped_' + mode
    df[series_name] = df[mode]
    df.loc[(df[mode] == 'WALK-LOCAL') |(df[mode] == 'WALK-PREMIUM'), series_name] = 'WALK-TRANSIT'
    df.loc[(df[mode] == 'PNR-LOCAL') |(df[mode] == 'PNR-PREMIUM'), series_name] = 'PNR-TRANSIT'
    df.loc[(df[mode] == 'KNR-LOCAL') |(df[mode] == 'KNR-PREMIUM'), series_name] = 'KNR-TRANSIT'
    return df

In [21]:
print(spa_out_trips_df['tour_mode'].value_counts(dropna=False))
print(spa_out_trips_df['linked_trip_mode'].value_counts(dropna=False))

DRIVEALONE      70461
SHARED2         39739
SHARED3         27728
WALK             7015
SCHOOLBUS        5710
BIKE             3758
WALK-TRANSIT     3593
PNR-TRANSIT       941
KNR-TRANSIT       263
OTHER             167
Name: tour_mode, dtype: int64
DRIVEALONE    83998
SHARED2       35015
SHARED3       18966
WALK          10591
SCHOOLBUS      4046
BIKE           3268
WALK-LOCAL     2773
PNR-LOCAL       339
OTHER           284
KNR-LOCAL        95
Name: linked_trip_mode, dtype: int64

In [22]:
spa_out_trips_df['grouped_tour_mode'] = spa_out_trips_df['tour_mode']
spa_out_trips_df = group_transit_modes(df=spa_out_trips_df, mode='linked_trip_mode')

In [23]:
print(spa_out_trips_df['grouped_linked_trip_mode'].value_counts(dropna=False))
print(spa_out_trips_df['grouped_tour_mode'].value_counts(dropna=False))

DRIVEALONE      83998
SHARED2         35015
SHARED3         18966
WALK            10591
SCHOOLBUS        4046
BIKE             3268
WALK-TRANSIT     2773
PNR-TRANSIT       339
OTHER             284
KNR-TRANSIT        95
Name: grouped_linked_trip_mode, dtype: int64
DRIVEALONE      70461
SHARED2         39739
SHARED3         27728
WALK             7015
SCHOOLBUS        5710
BIKE             3758
WALK-TRANSIT     3593
PNR-TRANSIT       941
KNR-TRANSIT       263
OTHER             167
Name: grouped_tour_mode, dtype: int64

In [24]:
spa_out_tours_df['tour_mode'] = spa_out_tours_df['TOURMODE'].apply(lambda x: spa_tourmode_dict[x])

In [25]:
spa_out_tours_df['spa_tour_purpose'] = spa_out_tours_df['TOURPURP'].apply(lambda x: spa_purp_dict[x])
spa_out_tours_df['tour_purpose'] = spa_out_tours_df['spa_tour_purpose'].apply(lambda x: spa_to_abms_purp_dict[x])
spa_out_tours_df.loc[spa_out_tours_df['IS_SUBTOUR'] == 1, 'tour_purpose'] = 'Work sub-tour'
spa_out_tours_df['grouped_tour_mode'] = spa_out_tours_df['tour_mode']

spa_out_tours_df['grouped_tour_purpose'] = spa_out_tours_df['tour_purpose'].apply(lambda x: group_tour_purposes(x))
# joint status of 3 is fully joint tour
spa_out_tours_df.loc[(spa_out_tours_df['grouped_tour_purpose'] == 'Ind-Maintenance')
                      & (spa_out_tours_df['JOINT_STATUS'] == 3),
                     'grouped_tour_purpose'] = 'Joint-Maintenance'
spa_out_tours_df.loc[(spa_out_tours_df['grouped_tour_purpose'] == 'Ind-Discretionary')
                      & (spa_out_tours_df['JOINT_STATUS'] == 3),
                     'grouped_tour_purpose'] = 'Joint-Discretionary'

In [26]:
spa_out_tours_df['auto_suff'].value_counts(dropna=False)

2    46178
1     8760
0     1208
Name: auto_suff, dtype: int64

#### On-Board Transit Survey

In [27]:
obs_df['grouped_tour_mode'] = pd.NA
obs_df.loc[obs_df['TOUR_MODE'] == 'Walk', 'grouped_tour_mode'] = 'WALK-TRANSIT'
obs_df.loc[obs_df['TOUR_MODE'] == 'PNR', 'grouped_tour_mode'] = 'PNR-TRANSIT'
obs_df.loc[obs_df['TOUR_MODE'] == 'KNR', 'grouped_tour_mode'] = 'KNR-TRANSIT'

In [28]:
obs_df['TOUR_PURPOSE'].value_counts(dropna=False)
# obs_df[obs_df['TOUR_PURPOSE'].isnull()].head()
# There are some missing purposes, but they aren't weighted/can ignore

Work                   10226
Ind-Maintenance         3514
University              2312
Ind-Discretionary       1634
School                   824
NaN                      303
Work sub-tour            229
Joint-Discretionary      174
Airport                  110
Joint-Maintenance         74
Hotel                     28
Name: TOUR_PURPOSE, dtype: int64

In [29]:
# Tour purpose in recoded OBS dataset already matches desired grouped tour purpose

obs_df['grouped_tour_purpose'] = obs_df['TOUR_PURPOSE']

### Cleaning Modes and Purposes

In [30]:
# All schoolbus trips should be on school tours
spa_out_tours_df.loc[spa_out_tours_df['grouped_tour_mode'] == 'SCHOOLBUS', 'grouped_tour_purpose'] = 'School'
spa_out_trips_df.loc[spa_out_trips_df['grouped_linked_trip_mode'] == 'SCHOOLBUS', 'trip_purpose'] = 'School'

spa_out_trips_df['tour_includes_schoolbus'] = spa_out_trips_df.groupby(
    ['HH_ID', 'PER_ID', 'TOUR_ID'])['grouped_linked_trip_mode'].transform(lambda x: 1 if 'SCHOOLBUS' in x.values else 0)

spa_out_trips_df.loc[spa_out_trips_df['tour_includes_schoolbus'] == 1, 'grouped_tour_purpose'] = 'School'

In [31]:
# linked trip/tour cleaning
# Create temporary new tour mode field

spa_out_trips_df['grouped_tour_mode_updated'] = np.nan

# Drive trips on bike tours should be drive tours
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_mode'] == 'BIKE') & \
                     (spa_out_trips_df['grouped_linked_trip_mode'].isin(['DRIVEALONE', 'SHARED2', 'SHARED3'])),
                            'grouped_tour_mode_updated'] = spa_out_trips_df['grouped_linked_trip_mode'] 

# push schoolbus linked trips into schoolbus tour mode
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'SCHOOLBUS'), 'grouped_tour_mode_updated'] = 'SCHOOLBUS'

# Shared ride 2 trips on shared ride 3 tours should be shared ride 3 trip mode
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'SHARED3')  & \
                    (spa_out_trips_df['grouped_tour_mode'] == 'SHARED2') , 'grouped_tour_mode_updated'] = 'SHARED3'

# Drive-alone oon walk-transit should be moved to drive-alone tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'DRIVEALONE')  & \
                    (spa_out_trips_df['grouped_tour_mode'] == 'WALK-TRANSIT') , 'grouped_tour_mode_updated'] = 'DRIVEALONE'

# KNR on PNR should be on KNR tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT')  & \
                    (spa_out_trips_df['grouped_tour_mode'] == 'PNR-TRANSIT') , 'grouped_tour_mode_updated'] = 'KNR-TRANSIT'

In [32]:
# Recode tour mode

spa_out_trips_df.loc[(pd.notnull(spa_out_trips_df['grouped_tour_mode_updated'])), 'grouped_tour_mode'] = spa_out_trips_df['grouped_tour_mode_updated'] 

# Since the new tour modes do not really change the overall tour calibration targets, leaving those as-is.
# This means the data aren't 100% consistent between trips/tours when it comes to tour mode
# Updating the tour mode in the tours table (and then carrying that over to other trips on the tour) might cause more problems with working out which trip modes should be on which tour modes
#    so, best to avoid since it doesn't change the tour targets significantly.

In [33]:
display(spa_out_trips_df[(pd.notnull(spa_out_trips_df['grouped_tour_mode_updated']))])

,HH_ID,PER_ID,TOUR_ID,TRIP_ID,ORIG_PLACENO,ORIG_X,ORIG_Y,ORIG_TAZ,ORIG_MAZ,DEST_PLACENO,DEST_X,DEST_Y,DEST_TAZ,DEST_MAZ,ORIG_PURP,DEST_PURP,ORIG_ARR_HR,ORIG_ARR_MIN,ORIG_ARR_BIN,ORIG_DEP_HR,ORIG_DEP_MIN,ORIG_DEP_BIN,DEST_ARR_HR,DEST_ARR_MIN,DEST_ARR_BIN,DEST_DEP_HR,DEST_DEP_MIN,DEST_DEP_BIN,TRIP_DUR_HR,TRIP_DUR_MIN,TRIP_DUR_BIN,TRIPMODE,ISDRIVER,CHAUFFUER_ID,AUTO_OCC,TOURMODE,TOURPURP,BOARDING_PLACENO,BOARDING_PNAME,BOARDING_X,BOARDING_Y,BOARDING_TAP,ALIGHTING_PLACENO,ALIGHTING_PNAME,ALIGHTING_X,ALIGHTING_Y,ALIGHTING_TAP,TRANSIT_NUM_XFERS,TRANSIT_ROUTE_1,TRANSIT_MODE_1,XFER_1_PLACENO,XFER_1_PNAME,XFER_1_X,XFER_1_Y,XFER_1_TAP,TRANSIT_ROUTE_2,TRANSIT_MODE_2,XFER_2_PLACENO,XFER_2_PNAME,XFER_2_X,XFER_2_Y,XFER_2_TAP,TRANSIT_ROUTE_3,TRANSIT_MODE_3,XFER_3_PLACENO,XFER_3_PNAME,XFER_3_X,XFER_3_Y,XFER_3_TAP,PARKING_PLACENO,PARKING_PNAME,PARKING_X,PARKING_Y,SUBTOUR,IS_INBOUND,TRIPS_ON_JOURNEY,TRIPS_ON_TOUR,ORIG_IS_TOUR_ORIG,ORIG_IS_TOUR_DEST,DEST_IS_TOUR_DEST,DEST_IS_TOUR_ORIG,PEREXPFACT,HHEXPFACT,PERSONTYPE,FULLY_JOINT,PARTIAL_TOUR,JTRIP_ID,ESCORTED,ESCORTING,NUM_PERSONS_ESCORTED,ESCORT_PERS_1,ESCORT_PERS_2,ESCORT_PERS_3,ESCORT_PERS_4,ESCORT_PERS_5,DEST_ESCORTING,JOINT,NUM_UL_JTRIPS,DIST,ERROR,SAMPN,PERNO,PERWGT,SWEXP,PER_WEIGHT,JOINT_STATUS,IS_SUBTOUR,HH_WEIGHT,unique_joint_trip,spa_tour_purpose,tour_purpose,grouped_tour_purpose,linked_trip_mode,tour_mode,grouped_tour_mode,grouped_linked_trip_mode,trip_purpose,tour_includes_schoolbus,grouped_tour_mode_updated
86,1000608,4,1,1,1,-123.329490,43.38878,NaN,NaN,2,-123.306030,43.39479,NaN,NaN,0,3,3,0,1,7,0,9,7,30,10,15,12,25,0,30,2,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0,1,0,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,303347.476412,NaN,1000608,4,1.098887,70.073098,70.073098,1,0,70.073098,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
87,1000608,4,1,2,2,-123.306030,43.39479,NaN,NaN,3,-123.329490,43.38878,NaN,NaN,3,0,7,30,10,15,12,25,15,42,26,2,59,48,0,30,2,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,2,0,1,0,1,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,8234.139435,NaN,1000608,4,1.098887,70.073098,70.073098,1,0,70.073098,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
133,1001090,3,1,4,4,-123.016740,44.05304,NaN,NaN,5,-123.025680,44.01807,NaN,NaN,3,4,7,42,10,14,30,24,14,45,24,14,46,24,0,15,1,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2,5,0,1,0,0,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,1,16185.620956,E: Number of joint trips departing at 14:30 di...,1001090,3,0.346714,61.972446,61.972446,2,0,61.972446,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
138,1001090,4,1,2,2,-123.025680,44.01807,NaN,NaN,3,-123.009690,43.99480,NaN,NaN,4,3,7,45,10,7,48,10,8,3,11,14,30,24,0,15,2,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,4,0,0,1,0,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,10049.564236,NaN,1001090,4,0.346714,61.972446,61.972446,1,0,61.972446,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
139,1001090,4,1,3,3,-123.009690,43.99480,NaN,NaN,4,-123.025680,44.01807,NaN,NaN,3,4,8,3,11,14,30,24,14,45,24,14,46,24,0,15,1,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,2,4,0,1,0,0,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,13781.784440,NaN,1001090,4,0.346714,61.972446,61.972446,1,0,61.972446,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171798,8166616,3,1,1,1,-122.897780,45.51257,NaN,NaN,2,-122.915195,45.50440,NaN,NaN,0,3,3,0,1,7,50,10,8,15,11,15,30,26,0,25,2,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0,1,0,NaN,NaN,6,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7537.006685,NaN,8166616,3,0.000000,0.000000,0.000000,1,0,0.000000,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
171799,8166616,3,1,2,2,-122.915195,45.50440,NaN,NaN,3,-122.897780,45.51257,NaN,NaN,3,0,8,15,11,15,30,26,16,6,27,18,10,31,0,36,2,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,2,0,1,0,1,NaN,NaN,6,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,7537.006685,NaN,8166616,3,0.000000,0.000000,0.000000,1,0,0.000000,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
171881,8166665,3,2,2,4,-122.534493,45.41840,NaN,NaN,5,-122.572210,45.49410,NaN,NaN,3,9,16,6,27,16,15,27,16,40,28,21,2,37,0,25,2,18,0,NaN,0.0,9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,3,0,0,1,0,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,37684.281428,NaN,8166665,3,0.000000,0.000000,0.000000,2,0,0.000000,NaN,DISCRETIONARY,Discretionary,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
171958,8166719,3,1,1,1,-122.624610,45.32279,NaN,NaN,3,-122.601289,45.33960,NaN,NaN,0,3,3,0,1,8,3,11,8,30,12,15,42,26,0,27,2,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0,1,0,NaN,NaN,7,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,1,9266.850734,NaN,8166719,3,0.000000,0.000000,0.000000,2,0,0.000000,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS
171959,8166719,3,1,2,3,-122.601289,45.33960,NaN,NaN,5,-122.624610,45.32279,NaN,NaN,3,0,8,30,12,15,42,26,15,51,26,2,59,48,0,9,1,18,0,NaN,0.0,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,2,0,1,0,1,NaN,NaN,7,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,9161.656138,NaN,8166719,3,0.000000,0.000000,0.000000,2,0,0.000000,NaN,SCHOOL,School,School,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,SCHOOLBUS,School,1,SCHOOLBUS

In [34]:
def remove_other_from_mode(df, mode, data_source):
    print("removing ", len(df[df[mode] == 'OTHER']), data_source, mode, "entries with OTHER mode")
    return df[df[mode] != 'OTHER']

# Remove OTHER trip and tour modes since they are not included in the model
spa_out_tours_df = remove_other_from_mode(spa_out_tours_df, mode='grouped_tour_mode', data_source='HTS')
spa_out_trips_df = remove_other_from_mode(spa_out_trips_df, mode='grouped_linked_trip_mode', data_source='HTS')
spa_out_trips_df = remove_other_from_mode(spa_out_trips_df, mode='grouped_tour_mode', data_source='HTS')

removing  80 HTS grouped_tour_mode entries with OTHER mode
removing  284 HTS grouped_linked_trip_mode entries with OTHER mode
removing  0 HTS grouped_tour_mode entries with OTHER mode

In [35]:
spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'SCHOOLBUS']['grouped_tour_purpose'].value_counts()

School    4046
Name: grouped_tour_purpose, dtype: int64

## Trip Mode Choice

In [36]:
spa_out_tour_trips_ct = pd.crosstab(
    spa_out_trips_df['grouped_linked_trip_mode'],
    spa_out_trips_df['grouped_tour_mode'],
    values=spa_out_trips_df['PER_WEIGHT'],
    aggfunc=sum,
    margins=True,
)

spa_out_tour_trips_ct = spa_out_tour_trips_ct.reindex(
    index=output_calibration_modes, columns=output_calibration_modes, fill_value=0)
round(spa_out_tour_trips_ct).fillna('-')

grouped_tour_mode,DRIVEALONE,SHARED2,SHARED3,WALK,BIKE,WALK-TRANSIT,PNR-TRANSIT,KNR-TRANSIT,SCHOOLBUS,All
grouped_linked_trip_mode,,,,,,,,,,
DRIVEALONE,6.06579e+06,926479,343460,-,-,-,7666,186,4597,7348178.0
SHARED2,-,2.50196e+06,485427,-,-,32045,984,2973,64386,3087779.0
SHARED3,-,-,1.6496e+06,-,-,17331,1606,2549,67130,1738216.0
WALK,78364,80417,60978,684514,20096,66034,4904,2695,18898,1016900.0
BIKE,-,-,-,-,314230,8090,-,303,1515,324137.0
WALK-TRANSIT,-,-,-,-,-,261870,21806,6703,-,290378.0
PNR-TRANSIT,-,-,-,-,-,-,22336,-,-,22336.0
KNR-TRANSIT,-,-,-,-,-,-,-,8856,-,8856.0
SCHOOLBUS,-,-,-,-,-,-,-,-,387179,387179.0
All,6.14415e+06,3.50886e+06,2.53946e+06,684514,334326,385370,59302,24265,543705,14223960.0

Activity based modeling data is already in this format:

#### Writing these to trip mode choice excel sheet

In [37]:
def write_tables_to_excel(dfs, excel_writer, excel_sheet_name, start_row, start_col, title, sep_for_col_title, col_title):
    # have to write first table to initialize sheet before writing title
    dfs[0].to_excel(excel_writer, excel_sheet_name, startrow=start_row+2, startcol=start_col)
    worksheet = excel_writer.sheets[excel_sheet_name]
    
    # writing title at and first table name
    worksheet.write(start_row, start_col, title)
    worksheet.write(start_row+1, start_col, dfs[0].name)
    worksheet.write(start_row+1, start_col + sep_for_col_title, col_title)
    start_row += len(dfs[0]) + 6
    
    for df in dfs[1:]:
        df.to_excel(excel_writer, excel_sheet_name, startrow=start_row, startcol=start_col)
        worksheet.write(start_row-1, start_col, df.name)
        worksheet.write(start_row-1, start_col + sep_for_col_title, col_title)
        start_row += len(df) + 4

In [38]:
def create_hts_trip_mode_choice_tables(spa_out_trips_df, purposes):
    dfs = []
    all_purposes_ct = pd.crosstab(
        spa_out_trips_df['grouped_linked_trip_mode'],
        spa_out_trips_df['grouped_tour_mode'],
        values=spa_out_trips_df['PER_WEIGHT'],
        aggfunc='sum',
        margins=True,
        dropna=False
    )
    all_purposes_ct = all_purposes_ct.reindex(
            index=output_calibration_modes, columns=output_calibration_modes, fill_value=0)
    all_purposes_ct = round(all_purposes_ct.fillna(0),0)
    
    all_purposes_ct.name = 'Purpose: Total'
    dfs.append(all_purposes_ct)
    
    # Create crosstab for each purpose
    for tour_purpose in purposes:
        trip_tour_mode_by_purp_ct = pd.crosstab(
            spa_out_trips_df[(spa_out_trips_df['grouped_tour_purpose'] == tour_purpose)]['grouped_linked_trip_mode'],
            spa_out_trips_df[(spa_out_trips_df['grouped_tour_purpose'] == tour_purpose)]['grouped_tour_mode'],
            values=spa_out_trips_df[(spa_out_trips_df['grouped_tour_purpose'] == tour_purpose)]['PER_WEIGHT'],
            aggfunc='sum',
            margins=True,
            dropna=False
        )
        trip_tour_mode_by_purp_ct = trip_tour_mode_by_purp_ct.reindex(
            index=output_calibration_modes, columns=output_calibration_modes, fill_value=0)
        trip_tour_mode_by_purp_ct = round(trip_tour_mode_by_purp_ct.fillna(0),0)
        
        trip_tour_mode_by_purp_ct.name = 'Purpose: ' + tour_purpose
        dfs.append(trip_tour_mode_by_purp_ct)
        
    return dfs

In [39]:
spa_out_trips_df['grouped_tour_purpose'].value_counts()

Ind-Maintenance        75964
Ind-Discretionary      28119
School                 17205
Work                   16932
Joint-Maintenance       8677
Joint-Discretionary     7067
University              2618
Work sub-tour           2509
Name: grouped_tour_purpose, dtype: int64

In [40]:
print(output_calibration_purposes[:-1])
spa_out_trips_df['grouped_tour_mode'].value_counts()

['Work', 'University', 'School', 'Work sub-tour', 'Ind-Maintenance', 'Ind-Discretionary', 'Joint-Maintenance', 'Joint-Discretionary']

DRIVEALONE      70676
SHARED2         39851
SHARED3         27790
WALK             7008
SCHOOLBUS        5720
WALK-TRANSIT     3458
BIKE             3388
PNR-TRANSIT       938
KNR-TRANSIT       262
Name: grouped_tour_mode, dtype: int64

In [41]:
hts_trip_mc_dfs = create_hts_trip_mode_choice_tables(spa_out_trips_df, output_calibration_purposes[:-1])

## Tour Mode Choice

In [42]:
walk_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'WALK-TRANSIT']['PER_WEIGHT'].sum()
walk_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT']['PER_WEIGHT'].sum()
walk_trips_per_tour = walk_trips / walk_tours

walk_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(9, 17 + 1)))]['PER_WEIGHT'].sum()

walk_transit_trips_per_tour = walk_transit_trips / walk_tours

pnr_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'PNR-TRANSIT']['PER_WEIGHT'].sum()
pnr_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT']['PER_WEIGHT'].sum()
pnr_trips_per_tour = pnr_trips / pnr_tours
pnr_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(9, 17 + 1)))]['PER_WEIGHT'].sum()

pnr_transit_trips_per_tour = pnr_transit_trips / pnr_tours

knr_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'KNR-TRANSIT']['PER_WEIGHT'].sum()
knr_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT']['PER_WEIGHT'].sum()
knr_trips_per_tour = knr_trips / knr_tours

knr_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(9, 17 + 1)))]['PER_WEIGHT'].sum()

knr_transit_trips_per_tour = knr_transit_trips / knr_tours

print("Trips Per Tour for ")
print("WALK-TRANSIT Tours:", walk_tours, "\t Linked Trips:", walk_trips,
      "\t Trips/Tour:",  round(walk_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(walk_transit_trips_per_tour,3))
print("PNR-TRANSIT Tours:", pnr_tours, "\t Linked Trips:", pnr_trips,
      "\t Trips/Tour:",  round(pnr_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(pnr_transit_trips_per_tour,3))
print("KNR-TRANSIT Tours:", knr_tours, "\t Linked Trips:", knr_trips,
      "\t Trips/Tour:",  round(knr_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(knr_transit_trips_per_tour,3))

Trips Per Tour for
WALK-TRANSIT Tours: 140475.69182981685 	 Linked Trips: 290378.31209175126 	 Trips/Tour: 2.067 	 Transit Trips/Tour:  2.067
PNR-TRANSIT Tours: 22336.352467983175 	 Linked Trips: 22336.352467983175 	 Trips/Tour: 1.0 	 Transit Trips/Tour:  1.0
KNR-TRANSIT Tours: 8719.136826297232 	 Linked Trips: 8856.09089082796 	 Trips/Tour: 1.016 	 Transit Trips/Tour:  1.016

In [43]:
def get_transit_trips_per_tour(df, grouped_tour_mode):
    tours = df[df['grouped_tour_mode'] == grouped_tour_mode]['PER_WEIGHT'].sum()
    transit_trips = df[(df['grouped_tour_mode'] == goruped_tour_mode)
                      & (df['TRIPMODE'].isin(range(9, 17 + 1)))]['PER_WEIGHT'].sum()
    return transit_trips/tours

transit_trips_per_transit_tour_df = pd.DataFrame(index=output_calibration_modes)
transit_trips_per_transit_tour_df['transit_trips_per_transit_tour'] = pd.NA
transit_trips_per_transit_tour_df.loc['WALK-TRANSIT', 'transit_trips_per_transit_tour'] = walk_transit_trips_per_tour
transit_trips_per_transit_tour_df.loc['PNR-TRANSIT', 'transit_trips_per_transit_tour'] = pnr_transit_trips_per_tour
transit_trips_per_transit_tour_df.loc['KNR-TRANSIT', 'transit_trips_per_transit_tour'] = knr_transit_trips_per_tour
transit_trips_per_transit_tour_df.name = 'Purpose: Total'
transit_trips_per_transit_tour_df

# Not high enough -- replace pnr/knr with 2.0
transit_trips_per_transit_tour_df.loc['PNR-TRANSIT', 'transit_trips_per_transit_tour'] = 2.0
transit_trips_per_transit_tour_df.loc['KNR-TRANSIT', 'transit_trips_per_transit_tour'] = 2.0

In [44]:
obs_df['tourweight'] = obs_df['NewOriginating Rides']
obs_df.loc[obs_df['grouped_tour_mode'] == 'WALK-TRANSIT','tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'WALK-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'WALK-TRANSIT', 'transit_trips_per_transit_tour']
obs_df.loc[obs_df['grouped_tour_mode'] == 'PNR-TRANSIT', 'tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'PNR-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'PNR-TRANSIT', 'transit_trips_per_transit_tour']
obs_df.loc[obs_df['grouped_tour_mode'] == 'KNR-TRANSIT', 'tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'KNR-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'KNR-TRANSIT', 'transit_trips_per_transit_tour']

print("Total number of On-board survey Tours: ", int(obs_df['tourweight'].sum()))
print("Total number of On-board survey Trips: ", int(obs_df['NewOriginating Rides'].sum()))

Total number of On-board survey Tours:  121678
Total number of On-board survey Trips:  250041

In [45]:
def create_hts_tour_mode_choice_tables(spa_out_tours_df, purposes):
    dfs = []
    all_purposes_ct = pd.crosstab(
        spa_out_tours_df['grouped_tour_mode'],
        spa_out_tours_df['auto_suff'],
        values=spa_out_tours_df['PER_WEIGHT'],
        aggfunc='sum',
        margins=True,
        dropna=False
    )
    all_purposes_ct = all_purposes_ct.reindex(
            index=output_calibration_modes, fill_value=0)
    all_purposes_ct = round(all_purposes_ct.fillna(0),0)
    
    all_purposes_ct.name = 'Purpose: Total'
    dfs.append(all_purposes_ct)
    
    # Create crosstab for each purpose
    for tour_purpose in purposes:
        tour_mode_autosuff_by_purp_ct = pd.crosstab(
            spa_out_tours_df[(spa_out_tours_df['grouped_tour_purpose'] == tour_purpose)]['grouped_tour_mode'],
            spa_out_tours_df[(spa_out_tours_df['grouped_tour_purpose'] == tour_purpose)]['auto_suff'],
            values=spa_out_tours_df[(spa_out_tours_df['grouped_tour_purpose'] == tour_purpose)]['PER_WEIGHT'],
            aggfunc='sum',
            margins=True,
            dropna=False
        )
        tour_mode_autosuff_by_purp_ct = tour_mode_autosuff_by_purp_ct.reindex(
            index=output_calibration_modes, fill_value=0)
        tour_mode_autosuff_by_purp_ct = round(tour_mode_autosuff_by_purp_ct.fillna(0),0)
        
        tour_mode_autosuff_by_purp_ct.name = 'Purpose: ' + tour_purpose
        dfs.append(tour_mode_autosuff_by_purp_ct)
        
    return dfs


def create_obs_tour_mode_choice_tables(obs_df, purposes, weight):
    dfs = []
    all_purposes_ct = pd.crosstab(
        obs_df['grouped_tour_mode'],
        obs_df['AUTO_SUFF'],
        values=obs_df[weight],
        aggfunc='sum',
        margins=True,
        dropna=False
    )
    all_purposes_ct = all_purposes_ct.reindex(
            index=output_calibration_modes, fill_value=0)
    all_purposes_ct = round(all_purposes_ct.fillna(0),0)
    
    all_purposes_ct.name = 'Purpose: Total'
    dfs.append(all_purposes_ct)
    
    # Create crosstab for each purpose
    for tour_purpose in purposes:
        tour_mode_autosuff_by_purp_ct = pd.crosstab(
            obs_df[(obs_df['grouped_tour_purpose'] == tour_purpose)]['grouped_tour_mode'],
            obs_df[(obs_df['grouped_tour_purpose'] == tour_purpose)]['AUTO_SUFF'],
            values=obs_df[weight],
            aggfunc='sum',
            margins=True,
            dropna=False
        )
        tour_mode_autosuff_by_purp_ct = tour_mode_autosuff_by_purp_ct.reindex(
            index=output_calibration_modes, fill_value=0)
        tour_mode_autosuff_by_purp_ct = round(tour_mode_autosuff_by_purp_ct.fillna(0),0)
        
        tour_mode_autosuff_by_purp_ct.name = 'Purpose: ' + tour_purpose
        dfs.append(tour_mode_autosuff_by_purp_ct)
        
    return dfs

In [46]:
def split_obs_ind_to_joint_plus_ind(obs_tour_mc_dfs, hts_transit_df):
    joint_disc_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Joint-Discretionary']['PER_WEIGHT'].sum()
    ind_disc_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Ind-Discretionary']['PER_WEIGHT'].sum()
    percent_ind_disc_tours = ind_disc_tours / (joint_disc_tours + ind_disc_tours)
    
    joint_maint_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Joint-Maintenance']['PER_WEIGHT'].sum()
    ind_maint_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Ind-Maintenance']['PER_WEIGHT'].sum()
    percent_ind_maint_tours = ind_maint_tours / (joint_maint_tours + ind_maint_tours)
    
    print("Household Travel Survey has")
    print("Maintenance: ", round(percent_ind_disc_tours*100,2), '% Individual, ', round((1-percent_ind_disc_tours)*100,2), '% Joint')
    print("Discretionary: ", round(percent_ind_maint_tours*100,2), '% Individual, ', round((1-percent_ind_maint_tours)*100,2), '% Joint')

    output_dfs = []
    ind_maint_df = pd.DataFrame()
    ind_disc_df = pd.DataFrame()
    joint_maint_df = pd.DataFrame()
    joint_disc_df = pd.DataFrame()
    
    for df in obs_tour_mc_dfs:
        if 'Ind-Maintenance' in df.name:
            ind_maint_df = round(df * percent_ind_maint_tours)
            ind_maint_df.name = 'Purpose: Ind-Maintenance'
            joint_maint_df = round(df * (1 - percent_ind_maint_tours))
            joint_maint_df.name = 'Purpose: Joint-Maintenance'
        elif 'Ind-Discretionary' in df.name:
            ind_disc_df = round(df * percent_ind_disc_tours)
            ind_disc_df.name = 'Purpose: Ind-Discretionary'
            joint_disc_df = round(df * (1 - percent_ind_disc_tours))
            joint_disc_df.name = 'Purpose: Joint-Discretionary'
        else:
            output_dfs.append(df)
            
    output_dfs.append(ind_maint_df)
    output_dfs.append(ind_disc_df)
    output_dfs.append(joint_maint_df)
    output_dfs.append(joint_disc_df)
    
    total_tours_before_split = sum([df.sum().sum() for df in obs_tour_mc_dfs])
    total_tours_after_split = sum([df.sum().sum() for df in output_dfs])
    assert abs(total_tours_before_split - total_tours_after_split) < 1, "Tours not conserved!!!"
            
    return output_dfs

In [47]:
hts_tour_mc_dfs = create_hts_tour_mode_choice_tables(spa_out_tours_df, output_calibration_purposes[:-1])
obs_tour_mc_trips_dfs = create_obs_tour_mode_choice_tables(obs_df, output_calibration_purposes[:-1], weight='NewOriginating Rides')
obs_tour_mc_tours_dfs = create_obs_tour_mode_choice_tables(obs_df, output_calibration_purposes[:-1], weight='tourweight')

# splitting obs maintenance and discretionary tour purposes into joint and ind based on hts split
# hts_transit_trips_df = spa_out_trips_df[spa_out_trips_df['grouped_tour_mode'].isin(['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT'])]
# obs_tour_mc_trips_dfs = split_obs_ind_to_joint_plus_ind(obs_tour_mc_trips_dfs, hts_transit_trips_df)

# hts_transit_tours_df = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'].isin(['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT'])]
# obs_tour_mc_tours_dfs = split_obs_ind_to_joint_plus_ind(obs_tour_mc_tours_dfs, hts_transit_tours_df)

In [48]:
obs_tour_mc_tours_dfs

[AUTO_SUFF              0.0      1.0      2.0       All
 grouped_tour_mode
 DRIVEALONE             0.0      0.0      0.0       0.0
 SHARED2                0.0      0.0      0.0       0.0
 SHARED3                0.0      0.0      0.0       0.0
 WALK                   0.0      0.0      0.0       0.0
 BIKE                   0.0      0.0      0.0       0.0
 WALK-TRANSIT       54250.0  18543.0  26809.0   99602.0
 PNR-TRANSIT         3080.0   3735.0   6603.0   13418.0
 KNR-TRANSIT         3764.0   2164.0   2730.0    8659.0
 SCHOOLBUS              0.0      0.0      0.0       0.0
 All                61094.0  24442.0  36143.0  121679.0,
 AUTO_SUFF              0.0      1.0      2.0      All
 grouped_tour_mode
 DRIVEALONE             0.0      0.0      0.0      0.0
 SHARED2                0.0      0.0      0.0      0.0
 SHARED3                0.0      0.0      0.0      0.0
 WALK                   0.0      0.0      0.0      0.0
 BIKE                   0.0      0.0      0.0      0.0
 WALK-TRANSIT       25635.0   9529.0  17755.0  52919.0
 PNR-TRANSIT         2368.0   2440.0   4968.0   9776.0
 KNR-TRANSIT         1879.0   1082.0   1620.0   4581.0
 SCHOOLBUS              0.0      0.0      0.0      0.0
 All                29882.0  13051.0  24343.0  67276.0,
 AUTO_SUFF             0.0     1.0     2.0      All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0     0.0      0.0
 SHARED2               0.0     0.0     0.0      0.0
 SHARED3               0.0     0.0     0.0      0.0
 WALK                  0.0     0.0     0.0      0.0
 BIKE                  0.0     0.0     0.0      0.0
 WALK-TRANSIT       4491.0  2896.0  3029.0  10416.0
 PNR-TRANSIT         247.0   834.0   811.0   1892.0
 KNR-TRANSIT         276.0   427.0   259.0    961.0
 SCHOOLBUS             0.0     0.0     0.0      0.0
 All                5014.0  4156.0  4099.0  13269.0,
 AUTO_SUFF             0.0     1.0    2.0     All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0    0.0     0.0
 SHARED2               0.0     0.0    0.0     0.0
 SHARED3               0.0     0.0    0.0     0.0
 WALK                  0.0     0.0    0.0     0.0
 BIKE                  0.0     0.0    0.0     0.0
 WALK-TRANSIT       2202.0  1744.0  506.0  4453.0
 PNR-TRANSIT           6.0    21.0    8.0    35.0
 KNR-TRANSIT         220.0   145.0   32.0   397.0
 SCHOOLBUS             0.0     0.0    0.0     0.0
 All                2428.0  1910.0  547.0  4885.0,
 AUTO_SUFF            0.0    1.0    2.0     All
 grouped_tour_mode
 DRIVEALONE           0.0    0.0    0.0     0.0
 SHARED2              0.0    0.0    0.0     0.0
 SHARED3              0.0    0.0    0.0     0.0
 WALK                 0.0    0.0    0.0     0.0
 BIKE                 0.0    0.0    0.0     0.0
 WALK-TRANSIT       698.0  208.0  383.0  1290.0
 PNR-TRANSIT         36.0   52.0   34.0   122.0
 KNR-TRANSIT          0.0   12.0   37.0    49.0
 SCHOOLBUS            0.0    0.0    0.0     0.0
 All                734.0  272.0  455.0  1461.0,
 AUTO_SUFF              0.0     1.0     2.0      All
 grouped_tour_mode
 DRIVEALONE             0.0     0.0     0.0      0.0
 SHARED2                0.0     0.0     0.0      0.0
 SHARED3                0.0     0.0     0.0      0.0
 WALK                   0.0     0.0     0.0      0.0
 BIKE                   0.0     0.0     0.0      0.0
 WALK-TRANSIT       14317.0  2485.0  2986.0  19788.0
 PNR-TRANSIT          145.0   257.0   416.0    818.0
 KNR-TRANSIT          820.0   169.0   352.0   1340.0
 SCHOOLBUS              0.0     0.0     0.0      0.0
 All                15282.0  2911.0  3754.0  21947.0,
 AUTO_SUFF             0.0     1.0     2.0     All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0     0.0     0.0
 SHARED2               0.0     0.0     0.0     0.0
 SHARED3               0.0     0.0     0.0     0.0
 WALK                  0.0     0.0     0.0     0.0
 BIKE                  0.0     0.0     0.0     0.0
 WALK-TRANSIT       5781.0  1100.0  1402.0  8283.0
 PNR-TRANSIT         267.0   116.0   351.0   735.0
 KNR-TRANSIT         337.0   159.0   191.0   687.0
 SCHOOLBUS             0.0     0.0     0.0     0.0
 All                6385.0  1376.0  1944.0  9705.0,
 AUTO_SUFF            0.0   1.0   2.0    All
 grouped_tour_mode
 DRIVEALONE           0.0   0.0   0.0    0.0
 SHARED2              0.0   0.0   0.0    0.0
 SHARED3              0.0   0.0   0.0    0.0
 WALK                 0.0   0.0   0.0    0.0
 BIKE                 0.0   0.0   0.0    0.0
 WALK-TRANSIT       337.0  67.0  33.0  438.0
 PNR-TRANSIT          6.0   0.0   4.0   10.0
 KNR-TRANSIT          3.0   3.0   5.0   11.0
 SCHOOLBUS            0.0   0.0   0.0    0.0
 All                346.0  70.0  42.0  459.0,
 AUTO_SUFF            0.0    1.0    2.0     All
 grouped_tour_mode
 DRIVEALONE           0.0    0.0    0.0     0.0
 SHARED2              0.0    0.0    0.0     0.0
 SHARED3              0.0    0.0    0.0     0.0
 WALK                 0.0    0.0    0.0     0.0
 BIKE                 0.0    0.0    0.0     0.0
 WALK-TRANSIT       478.0  236.0  225.0   938.0
 PNR-TRANSIT          3.0   14.0    0.0    18.0
 KNR-TRANSIT        125.0    6.0   10.0   140.0
 SCHOOLBUS            0.0    0.0    0.0     0.0
 All                606.0  256.0  234.0  1096.0]

In [49]:
def create_final_tour_mc_targets(obs_tour_mc_tours_dfs, hts_tour_mc_dfs):
    tour_mc_calib_targets_dfs = []
    tour_mc_scaling_factors_dfs = []
    tour_mc_calib_targets_pct_dfs = []
    for i in range(len(obs_tour_mc_tours_dfs)):
        obs_tours_df = obs_tour_mc_tours_dfs[i]
        hts_tours_df = hts_tour_mc_dfs[i]
        assert obs_tours_df.name == hts_tours_df.name, "Purposes not the same!"
        
        # building calibration targets
        calibration_targets_df = hts_tours_df.copy()
        calibration_targets_df.name = hts_tours_df.name
        
        calibration_targets_df.loc[calibration_targets_df.index.isin(
            ['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT'])] = obs_tours_df.loc[obs_tours_df.index.isin(
            ['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT'])]
        calibration_targets_df.loc['All'] = calibration_targets_df.drop(labels='All', axis=0, inplace=False).sum()
        tour_mc_calib_targets_dfs.append(calibration_targets_df)
        
        # building scaling factors
        scaling_factors_df = pd.DataFrame(index=output_calibration_modes)
        scaling_factors_df['scaling_factor'] = pd.NA
        scaling_factors_df.loc['WALK-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['WALK-TRANSIT', 'All'] / hts_tours_df.loc['WALK-TRANSIT', 'All']
        scaling_factors_df.loc['PNR-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['PNR-TRANSIT', 'All'] / hts_tours_df.loc['PNR-TRANSIT', 'All']
        scaling_factors_df.loc['KNR-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['KNR-TRANSIT', 'All'] / hts_tours_df.loc['KNR-TRANSIT', 'All']
        scaling_factors_df.replace(to_replace=np.inf, value=0, inplace=True)
        scaling_factors_df.name = calibration_targets_df.name
        tour_mc_scaling_factors_dfs.append(scaling_factors_df)
        
        # create distribution table
        calibration_targets_pct_df = calibration_targets_df.copy()
        calibration_targets_pct_df.drop(labels='All', axis=0, inplace=True)
        cols = list(calibration_targets_pct_df.columns)
        calibration_targets_pct_df[cols] = calibration_targets_pct_df[cols].div(calibration_targets_pct_df[cols].sum(axis=0), axis=1)

        #trip_mc_calib_targets_pct_df.loc['All'] = trip_mc_calib_targets_pct_df.sum()
        calibration_targets_pct_df.loc['All'] = calibration_targets_pct_df.sum(axis=0)
        
        calibration_targets_pct_df.name = calibration_targets_df.name
        
        tour_mc_calib_targets_pct_dfs.append(calibration_targets_pct_df)
        
    return tour_mc_calib_targets_dfs, tour_mc_scaling_factors_dfs, tour_mc_calib_targets_pct_dfs

In [50]:
tour_mc_calib_targets_dfs, tour_mc_scaling_factors_dfs, tour_mc_calib_targets_pct_dfs = create_final_tour_mc_targets(obs_tour_mc_tours_dfs, hts_tour_mc_dfs)

C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\ipykernel_launcher.py:24: RuntimeWarning: divide by zero encountered in double_scalars
C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\ipykernel_launcher.py:25: RuntimeWarning: divide by zero encountered in double_scalars

In [51]:
# Creating a table that is the sum of all non-Total purposes for consistency check
tour_mc_summed_purposes_df = tour_mc_calib_targets_dfs[1].copy()
for i in range(2, len(tour_mc_calib_targets_dfs)):
    tour_mc_summed_purposes_df = tour_mc_summed_purposes_df + tour_mc_calib_targets_dfs[i]
tour_mc_summed_purposes_df.name = 'Non-Total Sum'
tour_mc_calib_targets_dfs.append(tour_mc_summed_purposes_df)

In [52]:
# Writing Tour Mode Choice targets
# HTS tours
write_tables_to_excel(
    dfs=hts_tour_mc_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=0,
    title='HTS Survey Tours',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

# OBS trips
write_tables_to_excel(
    dfs=obs_tour_mc_trips_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=7,
    title='On-Board Survey Trips',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

# Transit Trips per Transit tour
# using the same scaling factor for all trip purposes
transit_trips_per_transit_tour_dfs = [transit_trips_per_transit_tour_df for i in range(len(obs_tour_mc_trips_dfs))]
write_tables_to_excel(
    dfs=transit_trips_per_transit_tour_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=13,
    title='OBS Trips to Tours Factors',
    sep_for_col_title=1,
    col_title=''
)

# OBS tours
write_tables_to_excel(
    dfs=obs_tour_mc_tours_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=16,
    title='On-Board Survey Tours',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

# Calibration Targets
write_tables_to_excel(
    dfs=tour_mc_calib_targets_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=23,
    title='Calibration Targets',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)


# Calibration Targets distributions
write_tables_to_excel(
    dfs=tour_mc_calib_targets_pct_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=30,
    title='Calibration Targets - Distribution',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

### Creating final Trip Mode Choice targets

In [53]:
def create_trip_mode_choice_targets(hts_trip_mc_dfs, obs_tour_mc_trips_dfs):
    trip_mc_calib_targets_dfs = []
    obs_trip_target_dfs = []
    trip_mc_scaling_factors_dfs = []
    hts_trip_mc_dfs_updated = []
    trip_mc_calib_targets_pct_dfs = []
    for i in range(len(obs_tour_mc_tours_dfs)):
        hts_trip_tour_mode_df = hts_trip_mc_dfs[i]
        obs_trips_df = obs_tour_mc_trips_dfs[i]
        assert obs_trips_df.name == hts_trip_tour_mode_df.name, "Purposes not the same!"
        
        # Adjust walk on pnr and walk on knr to match expectations, given error in SPA output
        pnr_sum = hts_trip_tour_mode_df.at['PNR-TRANSIT', 'PNR-TRANSIT'] + \
            hts_trip_tour_mode_df.at['WALK-TRANSIT', 'PNR-TRANSIT']
        knr_sum = hts_trip_tour_mode_df.at['KNR-TRANSIT', 'KNR-TRANSIT'] + \
            hts_trip_tour_mode_df.at['WALK-TRANSIT', 'KNR-TRANSIT']
        hts_trip_tour_mode_df.loc['PNR-TRANSIT', 'PNR-TRANSIT'] = 19/20 * pnr_sum
        hts_trip_tour_mode_df.loc['WALK-TRANSIT', 'PNR-TRANSIT'] = 1/20 * pnr_sum
        hts_trip_tour_mode_df.loc['KNR-TRANSIT', 'KNR-TRANSIT'] = 19/20 * knr_sum
        hts_trip_tour_mode_df.loc['WALK-TRANSIT', 'KNR-TRANSIT'] = 1/20 * knr_sum
        hts_trip_tour_mode_df.loc['All'] = hts_trip_tour_mode_df.drop(labels='All', axis=0, inplace=False).sum()
        hts_trip_tour_mode_df.loc[:,'All'] = hts_trip_tour_mode_df.drop(labels='All', axis=1, inplace=False).sum(axis=1)
        
        # Copying OBS trip targets and Scaling
        obs_trip_target_df = pd.DataFrame(index=output_calibration_modes)
        obs_trip_target_df['OBS_trips'] = pd.NA
        obs_trip_target_df['row_scaling_factor'] = pd.NA
        obs_trip_target_df['col_scaling_factor'] = pd.NA
        trip_mc_calib_targets_df = hts_trip_tour_mode_df.copy()

        transit_modes = ['WALK-TRANSIT', 'PNR-TRANSIT', 'KNR-TRANSIT']
        
        # display(hts_trip_tour_mode_df)
        for transit_mode in transit_modes:

     
            # final trip targets come from OBS
            obs_trip_target_df.loc[transit_mode, 'OBS_trips'] = obs_trips_df.loc[transit_mode, 'All']
            # scaling linked-trips to match trip targets from OBS
            obs_trip_target_df.loc[transit_mode, 'row_scaling_factor'] = \
                obs_trip_target_df.loc[transit_mode, 'OBS_trips'] / hts_trip_tour_mode_df.loc[transit_mode, 'All']
            trip_mc_calib_targets_df.loc[transit_mode] = \
                trip_mc_calib_targets_df.loc[transit_mode] * obs_trip_target_df.loc[transit_mode, 'row_scaling_factor']

            # need to scale such that the trip distribution between non-transit and transit trips 
            #  for the transit mode remain the same

            pre_scaled_transit_tours = hts_trip_tour_mode_df.loc[transit_modes, transit_mode].sum()
            scaled_transit_tours = trip_mc_calib_targets_df.loc[transit_modes, transit_mode].sum()
            # creating scaling factor for non-transit trips in transit tours
            obs_trip_target_df.loc[transit_mode, 'col_scaling_factor'] = scaled_transit_tours / pre_scaled_transit_tours
            # applying that scaling factor to non-transit trips
            trip_mc_calib_targets_df.loc[~hts_trip_tour_mode_df.index.isin(transit_modes), transit_mode] = \
                    hts_trip_tour_mode_df.loc[~hts_trip_tour_mode_df.index.isin(transit_modes), transit_mode] \
                    * obs_trip_target_df.loc[transit_mode, 'col_scaling_factor']
            
            # when there are no transit trips in HTS, but there are targets in OBS survey, all OBS trips are assumed symmetric
            if (hts_trip_tour_mode_df.loc[transit_mode, transit_modes].sum() == 0):
                trip_mc_calib_targets_df.loc[transit_mode, transit_mode] = obs_trip_target_df.loc[transit_mode, 'OBS_trips']
        

        
        obs_trip_target_df.loc['All', 'OBS_trips'] = obs_trip_target_df['OBS_trips'].sum()
        obs_trip_target_df.replace(to_replace=np.inf, value=0, inplace=True)
        obs_trip_target_df.name = obs_trips_df.name
        obs_trip_target_dfs.append(obs_trip_target_df)
        

        trip_mc_calib_targets_df.fillna(0, inplace=True)

        trip_mc_calib_targets_df.loc['All'] = trip_mc_calib_targets_df.drop(labels='All', axis=0, inplace=False).sum()
        trip_mc_calib_targets_df.loc[:,'All'] = trip_mc_calib_targets_df.drop(labels='All', axis=1, inplace=False).sum(axis=1)
        trip_mc_calib_targets_df = round(trip_mc_calib_targets_df)
        trip_mc_calib_targets_df.name = obs_trip_target_df.name
        
        # create distribution table
        trip_mc_calib_targets_pct_df = trip_mc_calib_targets_df.copy()
        trip_mc_calib_targets_pct_df.drop(labels='All', axis=0, inplace=True)
        cols = list(trip_mc_calib_targets_pct_df.columns)
        trip_mc_calib_targets_pct_df[cols] = trip_mc_calib_targets_pct_df[cols].div(trip_mc_calib_targets_pct_df[cols].sum(axis=0), axis=1)

        #trip_mc_calib_targets_pct_df.loc['All'] = trip_mc_calib_targets_pct_df.sum()
        trip_mc_calib_targets_pct_df.loc['All'] = trip_mc_calib_targets_pct_df.sum(axis=0)
        
        trip_mc_calib_targets_pct_df.name = trip_mc_calib_targets_df.name
        
        trip_mc_calib_targets_dfs.append(trip_mc_calib_targets_df)
        hts_trip_mc_dfs_updated.append(hts_trip_tour_mode_df)
        trip_mc_calib_targets_pct_dfs.append(trip_mc_calib_targets_pct_df)

    return obs_trip_target_dfs, trip_mc_calib_targets_dfs, hts_trip_mc_dfs_updated, trip_mc_calib_targets_pct_dfs

In [54]:
hts_trip_mc_dfs_init = hts_trip_mc_dfs.copy()
obs_trip_target_dfs, trip_mc_calib_targets_dfs, hts_trip_mc_dfs, trip_mc_calib_targets_pct_dfs = create_trip_mode_choice_targets(
    hts_trip_mc_dfs_init, obs_tour_mc_trips_dfs)

C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\ipykernel_launcher.py:41: RuntimeWarning: divide by zero encountered in double_scalars
C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\ipykernel_launcher.py:51: RuntimeWarning: invalid value encountered in double_scalars

In [55]:
# Creating a table that is the sum of all non-Total purposes for consistency check
summed_purposes_df = trip_mc_calib_targets_dfs[1].copy()
for i in range(2, len(trip_mc_calib_targets_dfs)):
    summed_purposes_df = summed_purposes_df + trip_mc_calib_targets_dfs[i]
summed_purposes_df.name = 'Non-Total Sum'
trip_mc_calib_targets_dfs.append(summed_purposes_df)

In [56]:
# writing HTS trip mode choice targets
write_tables_to_excel(
    dfs=hts_trip_mc_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=0,
    title='HTS Survey Trips',
    sep_for_col_title=5,
    col_title='Tour Mode'
)

# OBS trips and scaling factors
write_tables_to_excel(
    dfs=obs_trip_target_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=13,
    title='OBS Trip Targets',
    sep_for_col_title=1,
    col_title=''
)

# Trip Mode Targets
write_tables_to_excel(
    dfs=trip_mc_calib_targets_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=18,
    title='Trip Mode Choice Targets',
    sep_for_col_title=5,
    col_title='Tour Mode'
)

# Trip Mode Targets
write_tables_to_excel(
    dfs=trip_mc_calib_targets_pct_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=31,
    title='Trip Mode Choice Targets - Distribution',
    sep_for_col_title=5,
    col_title='Tour Mode'
)

In [57]:
excel_writer.save()
excel_writer.close()

C:\ProgramData\Anaconda3\envs\untitled\lib\site-packages\xlsxwriter\workbook.py:325: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

## Writing Final Tables

In [58]:
print('Tour mode choice calibration targets written to: ', tour_mode_choice_output_path)
for df in tour_mc_calib_targets_dfs:
    table_name = df.name.replace('Purpose: ','') + '.csv'
    print(table_name)
    df.to_csv(os.path.join(tour_mode_choice_output_path, table_name))

print('Trip mode choice calibration targets written to: ', trip_mode_choice_output_path)
for df in trip_mc_calib_targets_dfs:
    table_name = df.name.replace('Purpose: ','') + '.csv'
    print(table_name)
    df.to_csv(os.path.join(trip_mode_choice_output_path, table_name))

Tour mode choice calibration targets written to:  output\tour_mode_choice
Total.csv
Work.csv
University.csv
School.csv
Work sub-tour.csv
Ind-Maintenance.csv
Ind-Discretionary.csv
Joint-Maintenance.csv
Joint-Discretionary.csv
Non-Total Sum.csv
Trip mode choice calibration targets written to:  output\trip_mode_choice
Total.csv
Work.csv
University.csv
School.csv
Work sub-tour.csv
Ind-Maintenance.csv
Ind-Discretionary.csv
Joint-Maintenance.csv
Joint-Discretionary.csv
Non-Total Sum.csv

In [59]:
# Merging final Tables into one output table for the automated calibration script
def melt_df(df, melt_id_var, value_name):
    melted_df = df.reset_index().melt(id_vars=[melt_id_var])
    melted_df.rename(columns={'value': value_name}, inplace=True)
    melted_df['purpose'] = df.name.replace('Purpose: ', '')
    return melted_df

melted_dfs = []
# Don't want to include the non-total sum table
for df in tour_mc_calib_targets_dfs[:-1]:
    melted_df = melt_df(df, melt_id_var='grouped_tour_mode', value_name='tours')
    melted_dfs.append(melted_df)
tour_mode_choice_calibration_table = pd.concat(melted_dfs)

melted_dfs = []
# Don't want to include the non-total sum table
for df in trip_mc_calib_targets_dfs[:-1]:
    melted_df = melt_df(df, melt_id_var='grouped_linked_trip_mode', value_name='trips')
    melted_dfs.append(melted_df)
trip_mode_choice_calibration_table = pd.concat(melted_dfs)

tour_mode_choice_calibration_table.to_csv(os.path.join(output_path, 'tour_mode_choice_calibration_targets.csv'), index=False)
trip_mode_choice_calibration_table.to_csv(os.path.join(output_path, 'trip_mode_choice_calibration_targets.csv'), index=False)

## Output Statistics

In [60]:
trip_counts_df = pd.DataFrame(index=['WALK-TRANSIT', 'PNR-TRANSIT', 'KNR-TRANSIT'])
trip_counts_df['HTS Raw'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT'])
trip_counts_df.loc['PNR-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT'])
trip_counts_df.loc['KNR-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT'])

trip_counts_df['HTS Weighted'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT']['PER_WEIGHT'].sum()
trip_counts_df.loc['PNR-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT']['PER_WEIGHT'].sum()
trip_counts_df.loc['KNR-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT']['PER_WEIGHT'].sum()

trip_counts_df['OBS Raw'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'WALK-TRANSIT'])
trip_counts_df.loc['PNR-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'PNR-TRANSIT'])
trip_counts_df.loc['KNR-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'KNR-TRANSIT'])

trip_counts_df['OBS Weighted'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'WALK-TRANSIT']['NewOriginating Rides'].sum()
trip_counts_df.loc['PNR-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'PNR-TRANSIT']['NewOriginating Rides'].sum()
trip_counts_df.loc['KNR-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'KNR-TRANSIT']['NewOriginating Rides'].sum()

trip_counts_df.loc['All'] = trip_counts_df.sum()
print('Trips in each survey:')
trip_counts_df

Trips in each survey:

             HTS Raw HTS Weighted OBS Raw OBS Weighted
WALK-TRANSIT    2773       290378   16367       205889
PNR-TRANSIT      339      22336.4    1855      26835.6
KNR-TRANSIT       95      8856.09    1206        17317
All             3207       321571   19428       250042