In [1]:
import pandas as pd
pd.set_option("display.max_columns",250)
import os
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import xlsxwriter
import yaml as yaml

sns.set()

In [2]:
with open(r'N:/Projects/CMAP_Activitysim/cmap_abm_lf/survey_data_prep/cmap_inputs.yml') as file:
    settings = yaml.full_load(file)

output_path = r"output"

processed_transit_survey_path = r"output"
spa_input_path = os.path.join(settings['proj_dir'], 'SPA_Inputs')
spa_output_path = os.path.join(settings['proj_dir'], 'SPA_Processed')

tour_mode_choice_output_path = os.path.join(output_path, 'tour_mode_choice')
trip_mode_choice_output_path = os.path.join(output_path, 'trip_mode_choice')

cmap_weights_path = os.path.join(settings['popsim_folder'], 'output', 'final_summary_hh_weights.csv')
nirpc_weights_path = 'N:/Projects/CMAP_Activitysim/cmap_abm_lf/survey_data_prep/survey_data/NIRPC_MDT_survey/weights/ipf/household_weights.csv'

trip_weights_path = os.path.join(settings['proj_dir'],'underreporting_correction', 'trip_weights.csv')

In [3]:
# Reading in tables
obs_df = pd.read_csv(os.path.join(processed_transit_survey_path, 'processed_obs.csv'))

spa_in_hh_df = pd.read_csv(os.path.join(spa_input_path, "HH_SPA_INPUT.csv"), encoding='latin1')
spa_in_per_df = pd.read_csv(os.path.join(spa_input_path, "PER_SPA_INPUT.csv"), encoding='latin1')
spa_in_place_df = pd.read_csv(os.path.join(spa_input_path, "PLACE_SPA_INPUT.csv"), encoding='latin1')

spa_out_per_df = pd.read_csv(os.path.join(spa_output_path, "persons.csv"), encoding='latin1')
spa_out_tours_df = pd.read_csv(os.path.join(spa_output_path, "tours.csv"), encoding='latin1')
spa_out_trips_df = pd.read_csv(os.path.join(spa_output_path, "trips.csv"), encoding='latin1')

cmap_weights = pd.read_csv(cmap_weights_path)
nirpc_weights = pd.read_csv(nirpc_weights_path)
trip_weights = pd.read_csv(trip_weights_path)
# warnings on column types...
spa_out_per_df.head()

C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,7,8,9,10,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,35,36,38,39,44,49,62,72,73,74,75,76,77,79,84,93,110,111,112,113,114,115) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,HH_ID,PER_ID,PERSONTYPE,AGE_CAT,EMPLY,HOURS_CAT,EMP_CAT,STUDE,SCHOL,STU_CAT,PERSONTYPE0,EMP_CAT0,STU_CAT0,ERROR
0,20000083,1,1,6,1,NaN,1,0,-9,3,NaN,NaN,NaN,NaN
1,20000136,1,2,5,2,NaN,2,0,-9,3,NaN,NaN,NaN,NaN
2,20000136,2,1,5,1,NaN,1,0,-9,3,NaN,NaN,NaN,NaN
3,20000136,3,8,1,3,NaN,4,0,1,3,NaN,NaN,NaN,NaN
4,20000228,1,2,6,2,NaN,2,0,-9,3,NaN,NaN,NaN,NaN

In [4]:
obs_df.study.value_counts()

metra    112950
cta       69947
pace        814
Name: study, dtype: int64

In [5]:
output_excel_path = os.path.join(output_path, 'calibration_target_tables.xlsx')
excel_writer = pd.ExcelWriter(output_excel_path, engine='xlsxwriter')

# Matching mode  and purpose names between surveys

In [6]:
output_calibration_modes = ['DRIVEALONE','SHARED2','SHARED3', 'WALK', 'BIKE', 'WALK-TRANSIT',
                            'PNR-TRANSIT','KNR-TRANSIT', 'TNC-TRANSIT', 'TAXI', 'TNC-REG', 'TNC-SHARED','SCHOOLBUS', 'All']
output_calibration_purposes = ['Work', 'University', 'School', 'Work sub-tour', 'Ind-Maintenance', 'Ind-Discretionary',
                               'Joint-Maintenance', 'Joint-Discretionary',  'All']

#### Household Travel Survey

In [7]:
nirpc_weights['SUBREGCluster_balanced_weight'] = nirpc_weights['wthhfin']
nirpc_weights = nirpc_weights[['sampno', 'SUBREGCluster_balanced_weight']]

In [8]:


weights = pd.concat([nirpc_weights, cmap_weights])
spa_out_trips_df = pd.merge(spa_out_trips_df, weights, left_on  = 'HH_ID', right_on = 'sampno')
# expansion factor already includes the weight
spa_out_trips_df["PER_WEIGHT"] = spa_out_trips_df['SUBREGCluster_balanced_weight']

In [9]:
adults_df = spa_in_per_df[spa_in_per_df['EMPLY'].isin(range(1, 2 + 1))]['SAMPN'].value_counts().reset_index()
adults_df.columns=['SAMPN', 'num_workers']

print(adults_df.groupby('num_workers').count())

             SAMPN
num_workers
1             5764
2             5493
3              627
4              140
5               17
6                2
7                2

In [10]:
# Calculating auto sufficiency for households

spa_in_hh_df.drop(columns=['num_workers'], errors = 'ignore')
spa_in_hh_df = pd.merge(
    spa_in_hh_df,
    adults_df[['SAMPN', 'num_workers']],
    how='left',
    left_on=['SAMPN'],
    right_on=['SAMPN']
)

In [11]:
spa_in_hh_df['auto_suff'] = 0

spa_in_hh_df.loc[pd.isnull(spa_in_hh_df.num_workers), 'num_workers']=0
spa_in_hh_df.loc[((spa_in_hh_df['HH_VEH'] < spa_in_hh_df['num_workers']) 
                     & (spa_in_hh_df['HH_VEH'] > 0)),
                    'auto_suff'] = 1
spa_in_hh_df.loc[((spa_in_hh_df['HH_VEH'] >= spa_in_hh_df['num_workers']) 
                     & (spa_in_hh_df['HH_VEH'] > 0)),
                    'auto_suff'] = 2

In [12]:
spa_in_hh_df[['SAMPN', 'auto_suff']]

          SAMPN  auto_suff
0      20000083          2
1      20000136          1
2      20000228          2
3      20000248          2
4      20000300          0
...         ...        ...
13984  50074311          2
13985  50074376          1
13986  50074386          2
13987  50074395          2
13988  50074479          2

[13989 rows x 2 columns]

In [13]:
# Merging auto suffiency from Households
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    spa_in_hh_df[['SAMPN', 'auto_suff']],
    how='left',
    left_on=['HH_ID'],
    right_on=['SAMPN']
)

spa_out_tours_df = pd.merge(
    spa_out_tours_df,
    spa_in_hh_df[['SAMPN', 'auto_suff']],
    how='left',
    left_on=['HH_ID'],
    right_on=['SAMPN']
)



# # Merging weighting variables for tours
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    trip_weights,
    how='left',
    left_on=['HH_ID', 'PER_ID', 'DEST_PLACENO'],
    right_on=['sampno', 'perno', 'PLANO']
)

In [14]:
nirpc_weights['is_nirpc'] = 1
spa_out_trips_df = pd.merge(spa_out_trips_df, nirpc_weights[['sampno', 'is_nirpc']], how = 'left', left_on = 'HH_ID', right_on = 'sampno')

In [15]:
spa_out_trips_df.loc[spa_out_trips_df['is_nirpc'] == 1, 'trip_weight'] = spa_out_trips_df['PER_WEIGHT']

In [16]:
# get tour weight

tour_weights = spa_out_trips_df.groupby(['HH_ID', 'PER_ID', 'TOUR_ID'])['trip_weight'].mean().reset_index()

spa_out_tours_df = pd.merge(
    spa_out_tours_df,
    tour_weights,
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID']
)


spa_out_tours_df["HH_WEIGHT"] = spa_out_tours_df['trip_weight']
spa_out_tours_df["PER_WEIGHT"] = spa_out_tours_df['trip_weight']

In [17]:

spa_out_trips_df["HH_WEIGHT"] = spa_out_trips_df['trip_weight']
spa_out_trips_df["PER_WEIGHT"] = spa_out_trips_df['trip_weight']

In [18]:
# Merging joint status and subtour status from tours to trips
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    spa_out_tours_df[['HH_ID', 'PER_ID', 'TOUR_ID', 'JOINT_STATUS', 'IS_SUBTOUR', 'HH_WEIGHT']],
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID']
)

#### Removing duplicate joint trips and tours

In [19]:
spa_out_tours_df.loc[spa_out_tours_df['JOINT_STATUS'] == 3, 'PER_WEIGHT'].sum()

1367751.507317725

In [20]:
# fully joint tours are joint_status == 3
joint_tours_df = spa_out_tours_df[spa_out_tours_df['JOINT_STATUS'] == 3]
print("Unweighted number of joint tours: ", len(joint_tours_df))

# selecting the tour from the first person in the tour file
unique_joint_tours_df = joint_tours_df.groupby(['HH_ID', 'TOUR_ID']).first().reset_index()
unique_joint_tours_df['unique_joint_tour'] = 1
print("Unweighted number of unique joint tours: ", len(unique_joint_tours_df))

# denoting the joint tour to keep
spa_out_tours_df = pd.merge(
    spa_out_tours_df,
    unique_joint_tours_df[['HH_ID', 'PER_ID', 'TOUR_ID', 'unique_joint_tour']],
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID']
)

# removing non-unique joint tours
spa_out_tours_df = spa_out_tours_df[
    (spa_out_tours_df['JOINT_STATUS'] != 3)
    | ((spa_out_tours_df['JOINT_STATUS'] == 3) & (spa_out_tours_df['unique_joint_tour'] == 1))]


assert len(spa_out_tours_df[spa_out_tours_df['JOINT_STATUS'] == 3]) == len(unique_joint_tours_df), "Joint tours not unique!"

Unweighted number of joint tours:  4161
Unweighted number of unique joint tours:  2403

In [21]:
# fully joint trips are joint_status == 3
joint_trips_df = spa_out_trips_df[(spa_out_trips_df['FULLY_JOINT'] == 1)]
print("Unweighted number of joint trips: ", len(joint_trips_df))

# selecting the tour from the first person in the tour file
unique_joint_trips_df = joint_trips_df.groupby(['HH_ID', 'TOUR_ID', 'TRIP_ID']).first().reset_index()
unique_joint_trips_df['unique_joint_trip'] = 1
print("Unweighted number of unique joint trips: ", len(unique_joint_trips_df))

# denoting the joint tour to keep
spa_out_trips_df = pd.merge(
    spa_out_trips_df,
    unique_joint_trips_df[['HH_ID', 'PER_ID', 'TOUR_ID', 'TRIP_ID', 'unique_joint_trip']],
    how='left',
    on=['HH_ID', 'PER_ID', 'TOUR_ID', 'TRIP_ID']
)
# removing non-unique joint trips. All joint trips should belong to a fully joint tour (checked implicity in assert)
spa_out_trips_df = spa_out_trips_df[
    (spa_out_trips_df['JOINT_STATUS'] != 3)
    | ((spa_out_trips_df['JOINT_STATUS'] == 3) & (spa_out_trips_df['unique_joint_trip'] == 1))]

Unweighted number of joint trips:  10503
Unweighted number of unique joint trips:  6062

#### Mapping spa purpose codes to calibration purpose categories

In [22]:
spa_purp_dict = {
    0: 'HOME',
    1: 'WORK',
    2: 'UNIVERSITY',
    3: 'SCHOOL',
    4: 'ESCORTING',
    5: 'SHOPPING',
    6: 'MAINTENANCE',
    7: 'EAT OUT',
    8: 'SOCIAL/VISIT',
    9: 'DISCRETIONARY',
    10: 'WORK-RELATED',
    11: 'LOOP',
    12: 'CHANGE MODE',
    13: 'OTHER',
}
spa_out_trips_df['spa_tour_purpose'] = spa_out_trips_df['TOURPURP'].apply(lambda x: spa_purp_dict[x])

spa_to_abms_purp_dict = {
     'HOME': 'Home',
     'WORK': 'Work',
     'UNIVERSITY': 'University',
     'SCHOOL': 'School',
     'ESCORTING': 'Maintenance',
     'SHOPPING': 'Maintenance',
     'MAINTENANCE': 'Maintenance',
     'EAT OUT': 'Discretionary',
     'SOCIAL/VISIT': 'Discretionary',
     'DISCRETIONARY': 'Discretionary',
     'WORK-RELATED': 'Maintenance',
     'LOOP': 'Discretionary',
     'CHANGE MODE': 'Change Mode',
     'OTHER': 'Discretionary',
}
spa_out_trips_df['tour_purpose'] = spa_out_trips_df['spa_tour_purpose'].apply(lambda x: spa_to_abms_purp_dict[x])
spa_out_trips_df.loc[spa_out_trips_df['IS_SUBTOUR'] == 1, 'tour_purpose'] = 'Work sub-tour'

In [23]:
spa_out_trips_df['tour_purpose'].value_counts(dropna=False)

Maintenance      35185
Work             34377
Discretionary    22422
School           10396
Work sub-tour     4410
University        2144
Change Mode        277
Name: tour_purpose, dtype: int64

In [24]:
def group_tour_purposes(tour_purpose):
    if tour_purpose in ['Work', 'University', 'School', 'Work sub-tour']:
        return tour_purpose
    if tour_purpose in ['Escorting','Shopping','Maintenance']:
        return 'Ind-Maintenance'
    if tour_purpose in ['Social/Rec', 'Eat Out', 'Discretionary', 'Home', 'Change Mode']:
        return 'Ind-Discretionary'
    return 'Ind-Discretionary'

spa_out_trips_df['grouped_tour_purpose'] = spa_out_trips_df['tour_purpose'].apply(lambda x: group_tour_purposes(x))

# joint status of 3 is fully joint tour
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_purpose'] == 'Ind-Maintenance') & (spa_out_trips_df['JOINT_STATUS'] == 3),
                 'grouped_tour_purpose'] = 'Joint-Maintenance'
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_purpose'] == 'Ind-Discretionary') & (spa_out_trips_df['JOINT_STATUS'] == 3),
                 'grouped_tour_purpose'] = 'Joint-Discretionary'
spa_out_trips_df['grouped_tour_purpose'].value_counts(dropna=False)

Work                   34377
Ind-Maintenance        32555
Ind-Discretionary      19858
School                 10396
Work sub-tour           4410
Joint-Discretionary     2841
Joint-Maintenance       2630
University              2144
Name: grouped_tour_purpose, dtype: int64

In [25]:
spa_out_trips_df['TRIPMODE'].value_counts(dropna=False)

1     47270
2     19809
3     13078
4     12028
6      8605
13     3001
5      1763
8      1349
11      672
7       634
14      360
10      355
12      249
9        38
Name: TRIPMODE, dtype: int64

In [26]:
spa_mode_dict = {
    1: 'DRIVEALONE',
    2: 'SHARED2',
    3: 'SHARED3',
    4: 'WALK',
    5: 'BIKE',
    6: 'WALK-TRANSIT',
    7: 'KNR-TRANSIT',
    8: 'PNR-TRANSIT',
    9: 'TNC-TRANSIT',
    10: 'TAXI',
    11: 'TNC-REG',
    12: 'TNC-SHARED',
    13: 'SCHOOLBUS',
    14: 'OTHER'
}
# # change taxi to shared2
# spa_tourmode_dict = {
#     1: 'DRIVEALONE',
#     2: 'SHARED2',
#     3: 'SHARED3',
#     4: 'WALK',
#     5: 'BIKE',
#     6: 'WALK-TRANSIT',
#     7: 'PNR-TRANSIT',
#     8: 'KNR-TRANSIT',
#     9: 'SCHOOLBUS',
#     10: 'SHARED2',
#     11: 'OTHER',
# }


spa_out_trips_df['linked_trip_mode'] = spa_out_trips_df['TRIPMODE'].apply(lambda x: spa_mode_dict[x])
spa_out_trips_df['tour_mode'] = spa_out_trips_df['TOURMODE'].apply(lambda x: spa_mode_dict[x])

In [27]:
print(spa_out_trips_df['tour_mode'].value_counts(dropna=False))
print(spa_out_trips_df['linked_trip_mode'].value_counts(dropna=False))

DRIVEALONE      38131
SHARED2         22242
SHARED3         18487
WALK-TRANSIT    11344
WALK             7969
SCHOOLBUS        4058
PNR-TRANSIT      2177
BIKE             1902
KNR-TRANSIT      1295
TNC-REG           642
TAXI              400
TNC-SHARED        290
OTHER             198
TNC-TRANSIT        76
Name: tour_mode, dtype: int64
DRIVEALONE      47270
SHARED2         19809
SHARED3         13078
WALK            12028
WALK-TRANSIT     8605
SCHOOLBUS        3001
BIKE             1763
PNR-TRANSIT      1349
TNC-REG           672
KNR-TRANSIT       634
OTHER             360
TAXI              355
TNC-SHARED        249
TNC-TRANSIT        38
Name: linked_trip_mode, dtype: int64

In [28]:
spa_out_trips_df['grouped_tour_mode'] = spa_out_trips_df['tour_mode']
spa_out_trips_df['grouped_linked_trip_mode'] = spa_out_trips_df['linked_trip_mode']
# spa_out_trips_df = group_transit_modes(df=spa_out_trips_df, mode='linked_trip_mode')

In [29]:
print(spa_out_trips_df['grouped_linked_trip_mode'].value_counts(dropna=False))
print(spa_out_trips_df['grouped_tour_mode'].value_counts(dropna=False))

DRIVEALONE      47270
SHARED2         19809
SHARED3         13078
WALK            12028
WALK-TRANSIT     8605
SCHOOLBUS        3001
BIKE             1763
PNR-TRANSIT      1349
TNC-REG           672
KNR-TRANSIT       634
OTHER             360
TAXI              355
TNC-SHARED        249
TNC-TRANSIT        38
Name: grouped_linked_trip_mode, dtype: int64
DRIVEALONE      38131
SHARED2         22242
SHARED3         18487
WALK-TRANSIT    11344
WALK             7969
SCHOOLBUS        4058
PNR-TRANSIT      2177
BIKE             1902
KNR-TRANSIT      1295
TNC-REG           642
TAXI              400
TNC-SHARED        290
OTHER             198
TNC-TRANSIT        76
Name: grouped_tour_mode, dtype: int64

In [30]:
spa_out_tours_df['tour_mode'] = spa_out_tours_df['TOURMODE'].apply(lambda x: spa_mode_dict[x])

In [31]:
spa_out_tours_df['spa_tour_purpose'] = spa_out_tours_df['TOURPURP'].apply(lambda x: spa_purp_dict[x])
spa_out_tours_df['tour_purpose'] = spa_out_tours_df['spa_tour_purpose'].apply(lambda x: spa_to_abms_purp_dict[x])
spa_out_tours_df.loc[spa_out_tours_df['IS_SUBTOUR'] == 1, 'tour_purpose'] = 'Work sub-tour'
spa_out_tours_df['grouped_tour_mode'] = spa_out_tours_df['tour_mode']

spa_out_tours_df['grouped_tour_purpose'] = spa_out_tours_df['tour_purpose'].apply(lambda x: group_tour_purposes(x))
# joint status of 3 is fully joint tour
spa_out_tours_df.loc[(spa_out_tours_df['grouped_tour_purpose'] == 'Ind-Maintenance')
                      & (spa_out_tours_df['JOINT_STATUS'] == 3),
                     'grouped_tour_purpose'] = 'Joint-Maintenance'
spa_out_tours_df.loc[(spa_out_tours_df['grouped_tour_purpose'] == 'Ind-Discretionary')
                      & (spa_out_tours_df['JOINT_STATUS'] == 3),
                     'grouped_tour_purpose'] = 'Joint-Discretionary'

In [32]:
spa_out_tours_df['tour_mode'].value_counts()

DRIVEALONE      14922
SHARED2          7857
SHARED3          6475
WALK-TRANSIT     4097
WALK             3925
SCHOOLBUS        1754
PNR-TRANSIT       809
BIKE              739
KNR-TRANSIT       447
TNC-REG           230
TAXI              145
TNC-SHARED        100
OTHER              87
TNC-TRANSIT        27
Name: tour_mode, dtype: int64

In [33]:
spa_out_tours_df['auto_suff'].value_counts(dropna=False)

2    33533
1     4896
0     3185
Name: auto_suff, dtype: int64

#### On-Board Transit Survey

In [34]:
obs_df['grouped_tour_mode'] = pd.NA
obs_df.loc[obs_df['TOUR_MODE'] == 'Walk', 'grouped_tour_mode'] = 'WALK-TRANSIT'
obs_df.loc[obs_df['TOUR_MODE'] == 'PNR', 'grouped_tour_mode'] = 'PNR-TRANSIT'
obs_df.loc[obs_df['TOUR_MODE'] == 'KNR', 'grouped_tour_mode'] = 'KNR-TRANSIT'
obs_df.loc[obs_df['TOUR_MODE'] == 'TNR', 'grouped_tour_mode'] = 'TNC-TRANSIT'

In [35]:
obs_df['grouped_tour_mode'].value_counts()

WALK-TRANSIT    90598
PNR-TRANSIT     69146
KNR-TRANSIT     21328
TNC-TRANSIT      2639
Name: grouped_tour_mode, dtype: int64

In [36]:
obs_df['TOUR_PURPOSE'].value_counts(dropna=False)
# obs_df[obs_df['TOUR_PURPOSE'].isnull()].head()
# There are some missing purposes, but they aren't weighted/can ignore

Work                   143368
Ind-Maintenance         14180
Ind-Discretionary        8809
University               8314
Work sub-tour            4239
School                   2629
Joint-Discretionary      1183
Joint-Maintenance         989
Name: TOUR_PURPOSE, dtype: int64

In [37]:
# Tour purpose in recoded OBS dataset already matches desired grouped tour purpose

obs_df['grouped_tour_purpose'] = obs_df['TOUR_PURPOSE']

### Cleaning Modes and Purposes

In [38]:
# All schoolbus trips should be on school tours
spa_out_tours_df.loc[spa_out_tours_df['grouped_tour_mode'] == 'SCHOOLBUS', 'grouped_tour_purpose'] = 'School'
spa_out_trips_df.loc[spa_out_trips_df['grouped_linked_trip_mode'] == 'SCHOOLBUS', 'trip_purpose'] = 'School'

spa_out_trips_df['tour_includes_schoolbus'] = spa_out_trips_df.groupby(
    ['HH_ID', 'PER_ID', 'TOUR_ID'])['grouped_linked_trip_mode'].transform(lambda x: 1 if 'SCHOOLBUS' in x.values else 0)

spa_out_trips_df.loc[spa_out_trips_df['tour_includes_schoolbus'] == 1, 'grouped_tour_purpose'] = 'School'

In [39]:
# Reallocate to appropriate cells

spa_out_trips_df['grouped_tour_mode_updated'] = np.nan



# Drive trips on bike tours should be drive tours
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_mode'] == 'BIKE') & \
                     (spa_out_trips_df['grouped_linked_trip_mode'].isin(['DRIVEALONE', 'SHARED2', 'SHARED3'])),
                            'grouped_tour_mode_updated'] = spa_out_trips_df['grouped_linked_trip_mode'] 
# Bike trips only on bike tour
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'BIKE'), 'grouped_tour_mode_updated'] = spa_out_trips_df['grouped_linked_trip_mode'] 

# Drive alone should be on drive tours only
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'].isin(['DRIVEALONE'])) &
                      (spa_out_trips_df['grouped_tour_mode'].isin(['TNC-REG', 'TNC-SHARED', 'TAXI', 'SCHOOLBUS'])),
                            'grouped_tour_mode_updated'] = spa_out_trips_df['grouped_linked_trip_mode'] 

# Drive on transit should be moved to drive  tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_tour_mode'].isin(['WALK-TRANSIT','PNR-TRANSIT','KNR-TRANSIT', 'TNC-TRANSIT']) & \
                     (spa_out_trips_df['grouped_linked_trip_mode'].isin(['DRIVEALONE', 'SHARED2', 'SHARED3']))),
                            'grouped_tour_mode_updated'] = spa_out_trips_df['grouped_linked_trip_mode'] 

# Transit on school bus should be transit 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'].isin(['WALK-TRANSIT','PNR-TRANSIT','KNR-TRANSIT', 'TNC-TRANSIT']) & \
                     (spa_out_trips_df['grouped_tour_mode'].isin(['SCHOOLBUS']))),
                            'grouped_tour_mode_updated'] = spa_out_trips_df['grouped_linked_trip_mode'] 

# KNR on TNR should be on KNR tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT')  & \
                    (spa_out_trips_df['grouped_tour_mode'] == 'PNR-TRANSIT') , 'grouped_tour_mode_updated'] = 'KNR-TRANSIT'

                     # Walk on TNR/ KNR/PNR should be on walk transit tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK')  & \
                       ((spa_out_trips_df['grouped_tour_mode'] == 'KNR-TRANSIT') | \
                        (spa_out_trips_df['grouped_tour_mode'] == 'PNR-TRANSIT') | \
                       (spa_out_trips_df['grouped_tour_mode'] == 'TNC-TRANSIT')) , 'grouped_tour_mode_updated'] = 'WALK-TRANSIT'


# TNR on KNR or PNR should be on TNR tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'TNC-TRANSIT')  & \
                       ((spa_out_trips_df['grouped_tour_mode'] == 'KNR-TRANSIT') | \
                        (spa_out_trips_df['grouped_tour_mode'] == 'PNR-TRANSIT')) , 'grouped_tour_mode_updated'] = 'TNC-TRANSIT'

# Walk on TNR/ KNR/PNR should be on walk transit tours 
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT')  & \
                       ((spa_out_trips_df['grouped_tour_mode'] == 'KNR-TRANSIT') | \
                        (spa_out_trips_df['grouped_tour_mode'] == 'PNR-TRANSIT') | \
                       (spa_out_trips_df['grouped_tour_mode'] == 'TNC-TRANSIT')) , 'grouped_tour_mode_updated'] = 'WALK-TRANSIT'
# Walk trips on bike tour should be walk tour
spa_out_trips_df.loc[(spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK')  & \
                    (spa_out_trips_df['grouped_tour_mode'] == 'BIKE') , 'grouped_tour_mode_updated'] = 'WALK'

In [40]:
# Recode tour mode

spa_out_trips_df.loc[(pd.notnull(spa_out_trips_df['grouped_tour_mode_updated'])), 'grouped_tour_mode'] = spa_out_trips_df['grouped_tour_mode_updated'] 

# Since the new tour modes do not really change the overall tour calibration targets, leaving those as-is.
# This means the data aren't 100% consistent between trips/tours when it comes to tour mode
# Updating the tour mode in the tours table (and then carrying that over to other trips on the tour) might cause more problems with working out which trip modes should be on which tour modes
#    so, best to avoid since it doesn't change the tour targets significantly.

In [41]:
display(spa_out_trips_df[(pd.notnull(spa_out_trips_df['grouped_tour_mode_updated']))])

,HH_ID,PER_ID,TOUR_ID,TRIP_ID,ORIG_PLACENO,ORIG_X,ORIG_Y,ORIG_TAZ,ORIG_MAZ,DEST_PLACENO,DEST_X,DEST_Y,DEST_TAZ,DEST_MAZ,ORIG_PURP,DEST_PURP,ORIG_ARR_HR,ORIG_ARR_MIN,ORIG_ARR_BIN,ORIG_DEP_HR,ORIG_DEP_MIN,ORIG_DEP_BIN,DEST_ARR_HR,DEST_ARR_MIN,DEST_ARR_BIN,DEST_DEP_HR,DEST_DEP_MIN,DEST_DEP_BIN,TRIP_DUR_HR,TRIP_DUR_MIN,TRIP_DUR_BIN,TRIPMODE,ISDRIVER,CHAUFFUER_ID,AUTO_OCC,TOURMODE,TOURPURP,BOARDING_PLACENO,BOARDING_PNAME,BOARDING_X,BOARDING_Y,BOARDING_TAP,ALIGHTING_PLACENO,ALIGHTING_PNAME,ALIGHTING_X,ALIGHTING_Y,ALIGHTING_TAP,TRANSIT_NUM_XFERS,TRANSIT_ROUTE_1,TRANSIT_MODE_1,XFER_1_PLACENO,XFER_1_PNAME,XFER_1_X,XFER_1_Y,XFER_1_TAP,TRANSIT_ROUTE_2,TRANSIT_MODE_2,XFER_2_PLACENO,XFER_2_PNAME,XFER_2_X,XFER_2_Y,XFER_2_TAP,TRANSIT_ROUTE_3,TRANSIT_MODE_3,XFER_3_PLACENO,XFER_3_PNAME,XFER_3_X,XFER_3_Y,XFER_3_TAP,PARKING_PLACENO,PARKING_PNAME,PARKING_X,PARKING_Y,SUBTOUR,IS_INBOUND,TRIPS_ON_JOURNEY,TRIPS_ON_TOUR,ORIG_IS_TOUR_ORIG,ORIG_IS_TOUR_DEST,DEST_IS_TOUR_DEST,DEST_IS_TOUR_ORIG,PEREXPFACT,HHEXPFACT,PERSONTYPE,FULLY_JOINT,PARTIAL_TOUR,JTRIP_ID,ESCORTED,ESCORTING,NUM_PERSONS_ESCORTED,ESCORT_PERS_1,ESCORT_PERS_2,ESCORT_PERS_3,ESCORT_PERS_4,ESCORT_PERS_5,DEST_ESCORTING,JOINT,NUM_UL_JTRIPS,DIST,ERROR,sampno_x,SUBREGCluster_balanced_weight,PER_WEIGHT,SAMPN,auto_suff,sampno_y,perno,PLANO,person_weight,trip_rate_factor,trip_weight,sampno,is_nirpc,HH_WEIGHT_x,JOINT_STATUS,IS_SUBTOUR,HH_WEIGHT_y,unique_joint_trip,spa_tour_purpose,tour_purpose,grouped_tour_purpose,linked_trip_mode,tour_mode,grouped_tour_mode,grouped_linked_trip_mode,trip_purpose,tour_includes_schoolbus,grouped_tour_mode_updated
68,20001025,1,1,1,1,-87.696995,41.908001,173,NaN,2,-87.617090,41.894815,7,NaN,0,1,3,0,1,7,23,9,8,16,11,17,10,29,0,53,3,5,0,NaN,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0,1,0,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,20001025,70.401912,70.401912,20001025,1,20001025,1,2,70.401912,1.000000,70.401912,NaN,NaN,70.401912,1,0,70.401912,NaN,WORK,Work,Work,BIKE,BIKE,BIKE,BIKE,NaN,0,BIKE
69,20001025,1,1,2,2,-87.617090,41.894815,7,NaN,3,-87.696995,41.908001,173,NaN,1,0,8,16,11,17,10,29,17,46,30,18,19,31,0,36,2,5,0,NaN,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,2,0,1,0,1,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,20001025,70.401912,70.401912,20001025,1,20001025,1,3,70.401912,1.000000,70.401912,NaN,NaN,70.401912,1,0,70.401912,NaN,WORK,Work,Work,BIKE,BIKE,BIKE,BIKE,NaN,0,BIKE
74,20001516,1,1,1,1,-87.905841,42.038083,483,NaN,2,-87.889312,42.042318,484,NaN,0,6,3,0,1,6,55,8,7,2,9,7,4,9,0,7,2,6,0,NaN,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,6,1,0,0,0,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,20001516,101.706666,123.960858,20001516,2,20001516,1,2,101.706666,1.218808,123.960858,NaN,NaN,123.960858,1,0,152.946558,NaN,WORK,Work,Work,WALK-TRANSIT,PNR-TRANSIT,WALK-TRANSIT,WALK-TRANSIT,NaN,0,WALK-TRANSIT
75,20001516,1,1,2,2,-87.889312,42.042318,484,NaN,3,-87.886607,42.040965,484,NaN,6,6,7,2,9,7,4,9,7,7,9,7,11,9,0,3,1,6,0,NaN,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,3,6,0,0,0,0,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,20001516,101.706666,168.020985,20001516,2,20001516,1,3,101.706666,1.652015,168.020985,NaN,NaN,168.020985,1,0,152.946558,NaN,WORK,Work,Work,WALK-TRANSIT,PNR-TRANSIT,WALK-TRANSIT,WALK-TRANSIT,NaN,0,WALK-TRANSIT
77,20001516,1,1,4,4,-87.637440,41.881186,28,NaN,5,-87.640533,41.883027,21,NaN,1,6,7,53,10,16,22,27,16,28,27,16,39,28,0,6,1,6,0,NaN,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3,6,0,1,0,0,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,20001516,101.706666,166.857830,20001516,2,20001516,1,5,101.706666,1.640579,166.857830,NaN,NaN,166.857830,1,0,152.946558,NaN,WORK,Work,Work,WALK-TRANSIT,PNR-TRANSIT,WALK-TRANSIT,WALK-TRANSIT,NaN,0,WALK-TRANSIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113198,70100624,1,2,2,4,-87.618175,41.893945,7,NaN,5,-87.614608,41.707572,274,NaN,1,4,7,55,10,16,30,28,17,55,30,18,0,31,1,25,3,6,0,NaN,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3,4,0,1,0,0,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,NaN,NaN,70100624,118.717003,194.764633,70100624,2,70100624,1,5,118.717003,1.640579,194.764633,NaN,NaN,194.764633,1,0,163.574287,NaN,WORK,Work,Work,WALK-TRANSIT,PNR-TRANSIT,WALK-TRANSIT,WALK-TRANSIT,NaN,0,WALK-TRANSIT
113199,70100624,1,2,3,5,-87.614608,41.707572,274,NaN,6,-87.641059,41.720713,273,NaN,4,4,17,55,30,18,0,31,18,18,31,18,20,31,0,18,1,2,1,NaN,2,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3,4,0,0,0,0,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0,NaN,NaN,70100624,118.717003,196.122325,70100624,2,70100624,1,6,118.717003,1.652015,196.122325,NaN,NaN,196.122325,1,0,163.574287,NaN,WORK,Work,Work,SHARED2,PNR-TRANSIT,SHARED2,SHARED2,NaN,0,SHARED2
113200,70100624,1,2,4,6,-87.641059,41.720713,273,NaN,7,-87.615996,41.712381,274,NaN,4,0,18,18,31,18,20,31,18,45,32,2,59,48,0,25,2,1,1,NaN,1,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3,4,0,0,0,1,NaN,NaN,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,70100624,118.717003,144.693187,70100624,2,70100624,1,7,118.717003,1.218808,144.693187,NaN,NaN,144.693187,1,0,163.574287,NaN,WORK,Work,Work,DRIVEALONE,PNR-TRANSIT,DRIVEALONE,DRIVEALONE,NaN,0,DRIVEALONE
113496,70100855,1,1,2,2,-87.695248,41.852711,186,NaN,3,-87.768492,41.761906,656,NaN,6,1,16,15,27,18,0,31,19,0,33,2,59,48,1,0,3,3,0,NaN,9,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2,2,0,0,1,1,NaN,NaN,1,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,70100855,70.401947,115.499963,70100855,0,70100855,1,3,70.401947,1.640579,115.499963,NaN,NaN,115.499963,1,0,100.653196,NaN,WORK,Work,Work,SHARED3,WALK-TRANSIT,SHARED3,SHARED3,NaN,0,SHARED3
113505,70100883,1,2,1,9,-87.607675,41.710365,274,NaN,10,-87.600914,41.793985,235,NaN,0,8,12,18,19,18,0,31,18,50,32,21,36,38,0,50,2,6,0,NaN,1,7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,2,1,0,1,0,NaN,NaN,5,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,70100883,118.729870,144.708870,70100883,2,70100883,1,10,118.729870,1.218808,144.708870,NaN,NaN,144.708870,1,0,144.708870,NaN,SOCIAL/VISIT,Discretionary,Ind-Discretionary,WALK-TRANSIT,KNR-TRANSIT,WALK-TRANSIT,WALK-TRANSIT,NaN,0,WALK-TRANSIT

In [42]:
def remove_other_from_mode(df, mode, data_source):
    print("removing ", len(df[df[mode] == 'OTHER']), data_source, mode, "entries with OTHER mode")
    return df[df[mode] != 'OTHER']

# Remove OTHER trip and tour modes since they are not included in the model
spa_out_tours_df = remove_other_from_mode(spa_out_tours_df, mode='grouped_tour_mode', data_source='HTS')
spa_out_trips_df = remove_other_from_mode(spa_out_trips_df, mode='grouped_linked_trip_mode', data_source='HTS')
spa_out_trips_df = remove_other_from_mode(spa_out_trips_df, mode='grouped_tour_mode', data_source='HTS')

removing  87 HTS grouped_tour_mode entries with OTHER mode
removing  360 HTS grouped_linked_trip_mode entries with OTHER mode
removing  0 HTS grouped_tour_mode entries with OTHER mode

In [43]:
spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'SCHOOLBUS']['grouped_tour_purpose'].value_counts()

School    3001
Name: grouped_tour_purpose, dtype: int64

## Trip Mode Choice

In [44]:
spa_out_tours_df.grouped_tour_mode.value_counts()

DRIVEALONE      14922
SHARED2          7857
SHARED3          6475
WALK-TRANSIT     4097
WALK             3925
SCHOOLBUS        1754
PNR-TRANSIT       809
BIKE              739
KNR-TRANSIT       447
TNC-REG           230
TAXI              145
TNC-SHARED        100
TNC-TRANSIT        27
Name: grouped_tour_mode, dtype: int64

In [45]:
spa_out_tour_trips_ct = pd.crosstab(
    spa_out_trips_df['grouped_linked_trip_mode'],
    spa_out_trips_df['grouped_tour_mode'],
    values=spa_out_trips_df['PER_WEIGHT'],
    aggfunc=sum,
    margins=True,
)

spa_out_tour_trips_ct = spa_out_tour_trips_ct.reindex(
    index=output_calibration_modes, columns=output_calibration_modes, fill_value=0)
round(spa_out_tour_trips_ct).fillna('-')

grouped_tour_mode,DRIVEALONE,SHARED2,SHARED3,WALK,BIKE,WALK-TRANSIT,PNR-TRANSIT,KNR-TRANSIT,TNC-TRANSIT,TAXI,TNC-REG,TNC-SHARED,SCHOOLBUS,All
grouped_linked_trip_mode,,,,,,,,,,,,,,
DRIVEALONE,1.31559e+07,2.22499e+06,884386,-,-,-,-,-,-,-,-,-,-,16265235.0
SHARED2,-,5.76584e+06,1.04207e+06,-,-,-,-,-,-,23389,14060,7648,105825,6958833.0
SHARED3,-,-,4.01963e+06,-,-,-,-,-,-,7866,9395,1976,101340,4140206.0
WALK,170419,164878,139236,2.616e+06,-,504991,-,-,-,6379,52909,18249,32468,3705523.0
BIKE,-,-,-,-,376850,-,-,-,-,-,-,-,-,376850.0
WALK-TRANSIT,-,-,-,-,-,1.7575e+06,-,-,-,-,-,-,-,1757495.0
PNR-TRANSIT,-,-,-,-,-,-,219974,-,-,-,-,-,-,219974.0
KNR-TRANSIT,-,-,-,-,-,-,-,145621,-,-,-,-,-,145621.0
TNC-TRANSIT,-,-,-,-,-,-,-,-,7224,-,-,-,-,7224.0
TAXI,-,-,-,-,-,14310,390,1048,527,99600,8998,936,2784,128594.0
TNC-REG,-,-,-,-,-,32964,1376,3540,918,-,117689,21985,-,178471.0
TNC-SHARED,-,-,-,-,-,19894,70,3624,-,-,-,62749,-,86338.0
SCHOOLBUS,-,-,-,-,-,-,-,-,-,-,-,-,743451,743451.0
All,1.33263e+07,8.15570e+06,6.08532e+06,2.616e+06,376850,2.32965e+06,221811,153833,8669,137233,203052,113543,985867,34713815.0

Activity based modeling data is already in this format:

#### Writing these to trip mode choice excel sheet

In [46]:
def write_tables_to_excel(dfs, excel_writer, excel_sheet_name, start_row, start_col, title, sep_for_col_title, col_title):
    # have to write first table to initialize sheet before writing title
    dfs[0].to_excel(excel_writer, excel_sheet_name, startrow=start_row+2, startcol=start_col)
    worksheet = excel_writer.sheets[excel_sheet_name]
    
    # writing title at and first table name
    worksheet.write(start_row, start_col, title)
    worksheet.write(start_row+1, start_col, dfs[0].name)
    worksheet.write(start_row+1, start_col + sep_for_col_title, col_title)
    start_row += len(dfs[0]) + 6
    
    for df in dfs[1:]:
        df.to_excel(excel_writer, excel_sheet_name, startrow=start_row, startcol=start_col)
        worksheet.write(start_row-1, start_col, df.name)
        worksheet.write(start_row-1, start_col + sep_for_col_title, col_title)
        start_row += len(df) + 4

In [47]:
def create_hts_trip_mode_choice_tables(spa_out_trips_df, purposes):
    dfs = []
    all_purposes_ct = pd.crosstab(
        spa_out_trips_df['grouped_linked_trip_mode'],
        spa_out_trips_df['grouped_tour_mode'],
        values=spa_out_trips_df['PER_WEIGHT'],
        aggfunc='sum',
        margins=True,
        dropna=False
    )
    all_purposes_ct = all_purposes_ct.reindex(
            index=output_calibration_modes, columns=output_calibration_modes, fill_value=0)
    all_purposes_ct = round(all_purposes_ct.fillna(0),0)
    
    all_purposes_ct.name = 'Purpose: Total'
    dfs.append(all_purposes_ct)
    
    # Create crosstab for each purpose
    for tour_purpose in purposes:
        trip_tour_mode_by_purp_ct = pd.crosstab(
            spa_out_trips_df[(spa_out_trips_df['grouped_tour_purpose'] == tour_purpose)]['grouped_linked_trip_mode'],
            spa_out_trips_df[(spa_out_trips_df['grouped_tour_purpose'] == tour_purpose)]['grouped_tour_mode'],
            values=spa_out_trips_df[(spa_out_trips_df['grouped_tour_purpose'] == tour_purpose)]['PER_WEIGHT'],
            aggfunc='sum',
            margins=True,
            dropna=False
        )
        trip_tour_mode_by_purp_ct = trip_tour_mode_by_purp_ct.reindex(
            index=output_calibration_modes, columns=output_calibration_modes, fill_value=0)
        trip_tour_mode_by_purp_ct = round(trip_tour_mode_by_purp_ct.fillna(0),0)
        
        trip_tour_mode_by_purp_ct.name = 'Purpose: ' + tour_purpose
        dfs.append(trip_tour_mode_by_purp_ct)
        
    return dfs

In [48]:
spa_out_trips_df['grouped_tour_purpose'].value_counts()

Work                   34261
Ind-Maintenance        32204
Ind-Discretionary      19559
School                 10880
Work sub-tour           4379
Joint-Discretionary     2839
Joint-Maintenance       2628
University              2101
Name: grouped_tour_purpose, dtype: int64

In [49]:
print(output_calibration_purposes[:-1])
spa_out_trips_df['grouped_tour_mode'].value_counts()

['Work', 'University', 'School', 'Work sub-tour', 'Ind-Maintenance', 'Ind-Discretionary', 'Joint-Maintenance', 'Joint-Discretionary']

DRIVEALONE      38822
SHARED2         22777
SHARED3         18797
WALK-TRANSIT    11338
WALK             8100
SCHOOLBUS        3952
BIKE             1763
PNR-TRANSIT      1363
KNR-TRANSIT       666
TNC-REG           599
TAXI              352
TNC-SHARED        275
TNC-TRANSIT        47
Name: grouped_tour_mode, dtype: int64

In [50]:
hts_trip_mc_dfs = create_hts_trip_mode_choice_tables(spa_out_trips_df, output_calibration_purposes[:-1])

## Tour Mode Choice

In [51]:
walk_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'WALK-TRANSIT']['PER_WEIGHT'].sum()
walk_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT']['PER_WEIGHT'].sum()
walk_trips_per_tour = walk_trips / walk_tours

walk_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(6, 9 + 1)))]['PER_WEIGHT'].sum()

walk_transit_trips_per_tour = walk_transit_trips / walk_tours

pnr_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'PNR-TRANSIT']['PER_WEIGHT'].sum()
pnr_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT']['PER_WEIGHT'].sum()
pnr_trips_per_tour = pnr_trips / pnr_tours
pnr_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(6, 9 + 1)))]['PER_WEIGHT'].sum()

pnr_transit_trips_per_tour = pnr_transit_trips / pnr_tours

knr_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'KNR-TRANSIT']['PER_WEIGHT'].sum()
knr_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT']['PER_WEIGHT'].sum()
knr_trips_per_tour = knr_trips / knr_tours

knr_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(6, 9 + 1)))]['PER_WEIGHT'].sum()

knr_transit_trips_per_tour = knr_transit_trips / knr_tours

tnr_tours = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'] == 'TNC-TRANSIT']['PER_WEIGHT'].sum()
tnr_trips = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'TNC-TRANSIT']['PER_WEIGHT'].sum()
tnr_trips_per_tour = tnr_trips / tnr_tours

tnr_transit_trips = spa_out_trips_df[(spa_out_trips_df['grouped_linked_trip_mode'] == 'TNC-TRANSIT') 
                                  & (spa_out_trips_df['TRIPMODE'].isin(range(6, 9 + 1)))]['PER_WEIGHT'].sum()

tnr_transit_trips_per_tour = tnr_transit_trips / tnr_tours

print("Trips Per Tour for ")
print("WALK-TRANSIT Tours:", walk_tours, "\t Linked Trips:", walk_trips,
      "\t Trips/Tour:",  round(walk_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(walk_transit_trips_per_tour,3))
print("PNR-TRANSIT Tours:", pnr_tours, "\t Linked Trips:", pnr_trips,
      "\t Trips/Tour:",  round(pnr_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(pnr_transit_trips_per_tour,3))
print("KNR-TRANSIT Tours:", knr_tours, "\t Linked Trips:", knr_trips,
      "\t Trips/Tour:",  round(knr_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(knr_transit_trips_per_tour,3))
print("TNC-TRANSIT Tours:", tnr_tours, "\t Linked Trips:", tnr_trips,
      "\t Trips/Tour:",  round(tnr_trips_per_tour, 3), "\t Transit Trips/Tour: ", round(tnr_transit_trips_per_tour,3))

# tnr and knr are the same; but it looks like that's correct

Trips Per Tour for
WALK-TRANSIT Tours: 828004.3716985408 	 Linked Trips: 1757494.830233264 	 Trips/Tour: 2.123 	 Transit Trips/Tour:  2.123
PNR-TRANSIT Tours: 130623.8195148813 	 Linked Trips: 219974.09244481963 	 Trips/Tour: 1.684 	 Transit Trips/Tour:  1.684
KNR-TRANSIT Tours: 101217.4674740261 	 Linked Trips: 145621.48689890743 	 Trips/Tour: 1.439 	 Transit Trips/Tour:  1.439
TNC-TRANSIT Tours: 5022.499855874316 	 Linked Trips: 7223.819610647259 	 Trips/Tour: 1.438 	 Transit Trips/Tour:  1.438

In [52]:
def get_transit_trips_per_tour(df, grouped_tour_mode):
    tours = df[df['grouped_tour_mode'] == grouped_tour_mode]['PER_WEIGHT'].sum()
    transit_trips = df[(df['grouped_tour_mode'] == goruped_tour_mode)
                      & (df['TRIPMODE'].isin(range(9, 17 + 1)))]['PER_WEIGHT'].sum()
    return transit_trips/tours

transit_trips_per_transit_tour_df = pd.DataFrame(index=output_calibration_modes)
transit_trips_per_transit_tour_df['transit_trips_per_transit_tour'] = pd.NA
transit_trips_per_transit_tour_df.loc['WALK-TRANSIT', 'transit_trips_per_transit_tour'] = walk_transit_trips_per_tour
transit_trips_per_transit_tour_df.loc['PNR-TRANSIT', 'transit_trips_per_transit_tour'] = pnr_transit_trips_per_tour
transit_trips_per_transit_tour_df.loc['KNR-TRANSIT', 'transit_trips_per_transit_tour'] = knr_transit_trips_per_tour
transit_trips_per_transit_tour_df.loc['TNC-TRANSIT', 'transit_trips_per_transit_tour'] = tnr_transit_trips_per_tour
transit_trips_per_transit_tour_df.name = 'Purpose: Total'
transit_trips_per_transit_tour_df

# Not high enough -- replace pnr/knr with 2.0
transit_trips_per_transit_tour_df.loc['PNR-TRANSIT', 'transit_trips_per_transit_tour'] = 2.0
transit_trips_per_transit_tour_df.loc['KNR-TRANSIT', 'transit_trips_per_transit_tour'] = 2.0
transit_trips_per_transit_tour_df.loc['TNC-TRANSIT', 'transit_trips_per_transit_tour'] = 2.0

In [53]:
transit_trips_per_transit_tour_df

             transit_trips_per_transit_tour
DRIVEALONE                             <NA>
SHARED2                                <NA>
SHARED3                                <NA>
WALK                                   <NA>
BIKE                                   <NA>
WALK-TRANSIT                        2.12257
PNR-TRANSIT                               2
KNR-TRANSIT                               2
TNC-TRANSIT                               2
TAXI                                   <NA>
TNC-REG                                <NA>
TNC-SHARED                             <NA>
SCHOOLBUS                              <NA>
All                                    <NA>

In [54]:
obs_df['tourweight'] = obs_df['linked_weight_scaled']
obs_df.loc[obs_df['grouped_tour_mode'] == 'WALK-TRANSIT','tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'WALK-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'WALK-TRANSIT', 'transit_trips_per_transit_tour']
obs_df.loc[obs_df['grouped_tour_mode'] == 'PNR-TRANSIT', 'tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'PNR-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'PNR-TRANSIT', 'transit_trips_per_transit_tour']
obs_df.loc[obs_df['grouped_tour_mode'] == 'KNR-TRANSIT', 'tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'KNR-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'KNR-TRANSIT', 'transit_trips_per_transit_tour']
obs_df.loc[obs_df['grouped_tour_mode'] == 'TNC-TRANSIT', 'tourweight'] =  obs_df.loc[
    obs_df['grouped_tour_mode'] == 'TNC-TRANSIT', 'tourweight'] / transit_trips_per_transit_tour_df.loc[
    'TNC-TRANSIT', 'transit_trips_per_transit_tour']
print("Total number of On-board survey Tours: ", int(obs_df['tourweight'].sum()))
print("Total number of On-board survey Trips: ", int(obs_df['linked_weight_scaled'].sum()))

Total number of On-board survey Tours:  620480
Total number of On-board survey Trips:  1298402

In [55]:
obs_df.grouped_tour_mode.value_counts()

WALK-TRANSIT    90598
PNR-TRANSIT     69146
KNR-TRANSIT     21328
TNC-TRANSIT      2639
Name: grouped_tour_mode, dtype: int64

In [56]:
def create_hts_tour_mode_choice_tables(spa_out_tours_df, purposes):
    dfs = []
    all_purposes_ct = pd.crosstab(
        spa_out_tours_df['grouped_tour_mode'],
        spa_out_tours_df['auto_suff'],
        values=spa_out_tours_df['PER_WEIGHT'],
        aggfunc='sum',
        margins=True,
        dropna=False
    )
    all_purposes_ct = all_purposes_ct.reindex(
            index=output_calibration_modes, fill_value=0)
    all_purposes_ct = round(all_purposes_ct.fillna(0),0)
    
    all_purposes_ct.name = 'Purpose: Total'
    dfs.append(all_purposes_ct)
    
    # Create crosstab for each purpose
    for tour_purpose in purposes:
        tour_mode_autosuff_by_purp_ct = pd.crosstab(
            spa_out_tours_df[(spa_out_tours_df['grouped_tour_purpose'] == tour_purpose)]['grouped_tour_mode'],
            spa_out_tours_df[(spa_out_tours_df['grouped_tour_purpose'] == tour_purpose)]['auto_suff'],
            values=spa_out_tours_df[(spa_out_tours_df['grouped_tour_purpose'] == tour_purpose)]['PER_WEIGHT'],
            aggfunc='sum',
            margins=True,
            dropna=False
        )
        tour_mode_autosuff_by_purp_ct = tour_mode_autosuff_by_purp_ct.reindex(
            index=output_calibration_modes, fill_value=0)
        tour_mode_autosuff_by_purp_ct = round(tour_mode_autosuff_by_purp_ct.fillna(0),0)
        
        tour_mode_autosuff_by_purp_ct.name = 'Purpose: ' + tour_purpose
        dfs.append(tour_mode_autosuff_by_purp_ct)
        
    return dfs


def create_obs_tour_mode_choice_tables(obs_df, purposes, weight):
    dfs = []
    all_purposes_ct = pd.crosstab(
        obs_df['grouped_tour_mode'],
        obs_df['auto_suff'],
        values=obs_df[weight],
        aggfunc='sum',
        margins=True,
        dropna=False
    )
    all_purposes_ct = all_purposes_ct.reindex(
            index=output_calibration_modes, fill_value=0)
    all_purposes_ct = round(all_purposes_ct.fillna(0),0)
    
    all_purposes_ct.name = 'Purpose: Total'
    dfs.append(all_purposes_ct)
    
    # Create crosstab for each purpose
    for tour_purpose in purposes:
        tour_mode_autosuff_by_purp_ct = pd.crosstab(
            obs_df[(obs_df['grouped_tour_purpose'] == tour_purpose)]['grouped_tour_mode'],
            obs_df[(obs_df['grouped_tour_purpose'] == tour_purpose)]['auto_suff'],
            values=obs_df[weight],
            aggfunc='sum',
            margins=True,
            dropna=False
        )
        tour_mode_autosuff_by_purp_ct = tour_mode_autosuff_by_purp_ct.reindex(
            index=output_calibration_modes, fill_value=0)
        tour_mode_autosuff_by_purp_ct = round(tour_mode_autosuff_by_purp_ct.fillna(0),0)
        
        tour_mode_autosuff_by_purp_ct.name = 'Purpose: ' + tour_purpose
        dfs.append(tour_mode_autosuff_by_purp_ct)
        
    return dfs

In [57]:
def split_obs_ind_to_joint_plus_ind(obs_tour_mc_dfs, hts_transit_df):
    joint_disc_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Joint-Discretionary']['PER_WEIGHT'].sum()
    ind_disc_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Ind-Discretionary']['PER_WEIGHT'].sum()
    percent_ind_disc_tours = ind_disc_tours / (joint_disc_tours + ind_disc_tours)
    
    joint_maint_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Joint-Maintenance']['PER_WEIGHT'].sum()
    ind_maint_tours = hts_transit_df[hts_transit_df['grouped_tour_purpose']=='Ind-Maintenance']['PER_WEIGHT'].sum()
    percent_ind_maint_tours = ind_maint_tours / (joint_maint_tours + ind_maint_tours)
    
    print("Household Travel Survey has")
    print("Maintenance: ", round(percent_ind_disc_tours*100,2), '% Individual, ', round((1-percent_ind_disc_tours)*100,2), '% Joint')
    print("Discretionary: ", round(percent_ind_maint_tours*100,2), '% Individual, ', round((1-percent_ind_maint_tours)*100,2), '% Joint')

    output_dfs = []
    ind_maint_df = pd.DataFrame()
    ind_disc_df = pd.DataFrame()
    joint_maint_df = pd.DataFrame()
    joint_disc_df = pd.DataFrame()
    
    for df in obs_tour_mc_dfs:
        if 'Ind-Maintenance' in df.name:
            ind_maint_df = round(df * percent_ind_maint_tours)
            ind_maint_df.name = 'Purpose: Ind-Maintenance'
            joint_maint_df = round(df * (1 - percent_ind_maint_tours))
            joint_maint_df.name = 'Purpose: Joint-Maintenance'
        elif 'Ind-Discretionary' in df.name:
            ind_disc_df = round(df * percent_ind_disc_tours)
            ind_disc_df.name = 'Purpose: Ind-Discretionary'
            joint_disc_df = round(df * (1 - percent_ind_disc_tours))
            joint_disc_df.name = 'Purpose: Joint-Discretionary'
        else:
            output_dfs.append(df)
            
    output_dfs.append(ind_maint_df)
    output_dfs.append(ind_disc_df)
    output_dfs.append(joint_maint_df)
    output_dfs.append(joint_disc_df)
    
    total_tours_before_split = sum([df.sum().sum() for df in obs_tour_mc_dfs])
    total_tours_after_split = sum([df.sum().sum() for df in output_dfs])
    assert abs(total_tours_before_split - total_tours_after_split) < 1, "Tours not conserved!!!"
            
    return output_dfs

In [58]:
hts_tour_mc_dfs = create_hts_tour_mode_choice_tables(spa_out_tours_df, output_calibration_purposes[:-1])
obs_tour_mc_trips_dfs = create_obs_tour_mode_choice_tables(obs_df, output_calibration_purposes[:-1], weight='linked_weight_scaled')
obs_tour_mc_tours_dfs = create_obs_tour_mode_choice_tables(obs_df, output_calibration_purposes[:-1], weight='tourweight')

# splitting obs maintenance and discretionary tour purposes into joint and ind based on hts split
# hts_transit_trips_df = spa_out_trips_df[spa_out_trips_df['grouped_tour_mode'].isin(['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT'])]
# obs_tour_mc_trips_dfs = split_obs_ind_to_joint_plus_ind(obs_tour_mc_trips_dfs, hts_transit_trips_df)

# hts_transit_tours_df = spa_out_tours_df[spa_out_tours_df['grouped_tour_mode'].isin(['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT'])]
# obs_tour_mc_tours_dfs = split_obs_ind_to_joint_plus_ind(obs_tour_mc_tours_dfs, hts_transit_tours_df)

In [59]:
obs_tour_mc_tours_dfs

[auto_suff               0.0       1.0       2.0       All
 grouped_tour_mode
 DRIVEALONE              0.0       0.0       0.0       0.0
 SHARED2                 0.0       0.0       0.0       0.0
 SHARED3                 0.0       0.0       0.0       0.0
 WALK                    0.0       0.0       0.0       0.0
 BIKE                    0.0       0.0       0.0       0.0
 WALK-TRANSIT       168669.0  118564.0  181428.0  468661.0
 PNR-TRANSIT          2168.0    8631.0   86591.0   97390.0
 KNR-TRANSIT          6069.0   11236.0   29418.0   46723.0
 TNC-TRANSIT          2178.0    1554.0    3975.0    7707.0
 TAXI                    0.0       0.0       0.0       0.0
 TNC-REG                 0.0       0.0       0.0       0.0
 TNC-SHARED              0.0       0.0       0.0       0.0
 SCHOOLBUS               0.0       0.0       0.0       0.0
 All                179084.0  139984.0  301412.0  620480.0,
 auto_suff               0.0      1.0       2.0       All
 grouped_tour_mode
 DRIVEALONE              0.0      0.0       0.0       0.0
 SHARED2                 0.0      0.0       0.0       0.0
 SHARED3                 0.0      0.0       0.0       0.0
 WALK                    0.0      0.0       0.0       0.0
 BIKE                    0.0      0.0       0.0       0.0
 WALK-TRANSIT        94734.0  80763.0  110285.0  285782.0
 PNR-TRANSIT          1717.0   7584.0   77955.0   87257.0
 KNR-TRANSIT          3783.0   8072.0   21365.0   33219.0
 TNC-TRANSIT          1314.0   1010.0    2559.0    4883.0
 TAXI                    0.0      0.0       0.0       0.0
 TNC-REG                 0.0      0.0       0.0       0.0
 TNC-SHARED              0.0      0.0       0.0       0.0
 SCHOOLBUS               0.0      0.0       0.0       0.0
 All                101548.0  97429.0  212164.0  411140.0,
 auto_suff              0.0     1.0      2.0      All
 grouped_tour_mode
 DRIVEALONE             0.0     0.0      0.0      0.0
 SHARED2                0.0     0.0      0.0      0.0
 SHARED3                0.0     0.0      0.0      0.0
 WALK                   0.0     0.0      0.0      0.0
 BIKE                   0.0     0.0      0.0      0.0
 WALK-TRANSIT       14144.0  7577.0  13762.0  35483.0
 PNR-TRANSIT           71.0   326.0   2115.0   2512.0
 KNR-TRANSIT          432.0   668.0   1794.0   2894.0
 TNC-TRANSIT          119.0    40.0    235.0    394.0
 TAXI                   0.0     0.0      0.0      0.0
 TNC-REG                0.0     0.0      0.0      0.0
 TNC-SHARED             0.0     0.0      0.0      0.0
 SCHOOLBUS              0.0     0.0      0.0      0.0
 All                14766.0  8611.0  17906.0  41283.0,
 auto_suff             0.0     1.0      2.0      All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0      0.0      0.0
 SHARED2               0.0     0.0      0.0      0.0
 SHARED3               0.0     0.0      0.0      0.0
 WALK                  0.0     0.0      0.0      0.0
 BIKE                  0.0     0.0      0.0      0.0
 WALK-TRANSIT       3799.0  6088.0  11529.0  21416.0
 PNR-TRANSIT           3.0    44.0    461.0    508.0
 KNR-TRANSIT         117.0   618.0   2209.0   2944.0
 TNC-TRANSIT          38.0     6.0    128.0    171.0
 TAXI                  0.0     0.0      0.0      0.0
 TNC-REG               0.0     0.0      0.0      0.0
 TNC-SHARED            0.0     0.0      0.0      0.0
 SCHOOLBUS             0.0     0.0      0.0      0.0
 All                3956.0  6757.0  14326.0  25039.0,
 auto_suff             0.0     1.0     2.0      All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0     0.0      0.0
 SHARED2               0.0     0.0     0.0      0.0
 SHARED3               0.0     0.0     0.0      0.0
 WALK                  0.0     0.0     0.0      0.0
 BIKE                  0.0     0.0     0.0      0.0
 WALK-TRANSIT       3660.0  2397.0  5050.0  11107.0
 PNR-TRANSIT          58.0   310.0  2203.0   2571.0
 KNR-TRANSIT         104.0   255.0   652.0   1010.0
 TNC-TRANSIT          51.0   109.0   171.0    331.0
 TAXI                  0.0     0.0     0.0      0.0
 TNC-REG               0.0     0.0     0.0      0.0
 TNC-SHARED            0.0     0.0     0.0      0.0
 SCHOOLBUS             0.0     0.0     0.0      0.0
 All                3873.0  3070.0  8075.0  15018.0,
 auto_suff              0.0      1.0      2.0      All
 grouped_tour_mode
 DRIVEALONE             0.0      0.0      0.0      0.0
 SHARED2                0.0      0.0      0.0      0.0
 SHARED3                0.0      0.0      0.0      0.0
 WALK                   0.0      0.0      0.0      0.0
 BIKE                   0.0      0.0      0.0      0.0
 WALK-TRANSIT       32656.0  10011.0  21656.0  64323.0
 PNR-TRANSIT          297.0    191.0   2221.0   2709.0
 KNR-TRANSIT          787.0    592.0   2183.0   3562.0
 TNC-TRANSIT          399.0    182.0    500.0   1081.0
 TAXI                   0.0      0.0      0.0      0.0
 TNC-REG                0.0      0.0      0.0      0.0
 TNC-SHARED             0.0      0.0      0.0      0.0
 SCHOOLBUS              0.0      0.0      0.0      0.0
 All                34139.0  10976.0  26560.0  71675.0,
 auto_suff              0.0      1.0      2.0      All
 grouped_tour_mode
 DRIVEALONE             0.0      0.0      0.0      0.0
 SHARED2                0.0      0.0      0.0      0.0
 SHARED3                0.0      0.0      0.0      0.0
 WALK                   0.0      0.0      0.0      0.0
 BIKE                   0.0      0.0      0.0      0.0
 WALK-TRANSIT       16325.0   8866.0  15668.0  40859.0
 PNR-TRANSIT           21.0    163.0   1374.0   1558.0
 KNR-TRANSIT          696.0    813.0    793.0   2302.0
 TNC-TRANSIT          208.0    158.0    289.0    656.0
 TAXI                   0.0      0.0      0.0      0.0
 TNC-REG                0.0      0.0      0.0      0.0
 TNC-SHARED             0.0      0.0      0.0      0.0
 SCHOOLBUS              0.0      0.0      0.0      0.0
 All                17250.0  10000.0  18125.0  45376.0,
 auto_suff             0.0     1.0     2.0     All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0     0.0     0.0
 SHARED2               0.0     0.0     0.0     0.0
 SHARED3               0.0     0.0     0.0     0.0
 WALK                  0.0     0.0     0.0     0.0
 BIKE                  0.0     0.0     0.0     0.0
 WALK-TRANSIT       1856.0  1206.0  1770.0  4831.0
 PNR-TRANSIT           1.0     6.0    91.0    98.0
 KNR-TRANSIT          39.0    95.0   225.0   359.0
 TNC-TRANSIT          25.0    16.0    21.0    62.0
 TAXI                  0.0     0.0     0.0     0.0
 TNC-REG               0.0     0.0     0.0     0.0
 TNC-SHARED            0.0     0.0     0.0     0.0
 SCHOOLBUS             0.0     0.0     0.0     0.0
 All                1922.0  1322.0  2106.0  5350.0,
 auto_suff             0.0     1.0     2.0     All
 grouped_tour_mode
 DRIVEALONE            0.0     0.0     0.0     0.0
 SHARED2               0.0     0.0     0.0     0.0
 SHARED3               0.0     0.0     0.0     0.0
 WALK                  0.0     0.0     0.0     0.0
 BIKE                  0.0     0.0     0.0     0.0
 WALK-TRANSIT       1495.0  1657.0  1708.0  4860.0
 PNR-TRANSIT           0.0     6.0   171.0   177.0
 KNR-TRANSIT         111.0   124.0   198.0   433.0
 TNC-TRANSIT          25.0    32.0    72.0   129.0
 TAXI                  0.0     0.0     0.0     0.0
 TNC-REG               0.0     0.0     0.0     0.0
 TNC-SHARED            0.0     0.0     0.0     0.0
 SCHOOLBUS             0.0     0.0     0.0     0.0
 All                1631.0  1818.0  2149.0  5598.0]

In [60]:
def create_final_tour_mc_targets(obs_tour_mc_tours_dfs, hts_tour_mc_dfs):
    tour_mc_calib_targets_dfs = []
    tour_mc_scaling_factors_dfs = []
    tour_mc_calib_targets_pct_dfs = []
    for i in range(len(obs_tour_mc_tours_dfs)):
        obs_tours_df = obs_tour_mc_tours_dfs[i]
        hts_tours_df = hts_tour_mc_dfs[i]
        assert obs_tours_df.name == hts_tours_df.name, "Purposes not the same!"
        
        # building calibration targets
        calibration_targets_df = hts_tours_df.copy()
        calibration_targets_df.name = hts_tours_df.name
        
        calibration_targets_df.loc[calibration_targets_df.index.isin(
            ['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT', 'TNC-TRANSIT'])] = obs_tours_df.loc[obs_tours_df.index.isin(
            ['WALK-TRANSIT','PNR-TRANSIT', 'KNR-TRANSIT','TNC-TRANSIT'])]
        calibration_targets_df.loc['All'] = calibration_targets_df.drop(labels='All', axis=0, inplace=False).sum()
        tour_mc_calib_targets_dfs.append(calibration_targets_df)
        
        # building scaling factors
        scaling_factors_df = pd.DataFrame(index=output_calibration_modes)
        scaling_factors_df['scaling_factor'] = pd.NA
        scaling_factors_df.loc['WALK-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['WALK-TRANSIT', 'All'] / hts_tours_df.loc['WALK-TRANSIT', 'All']
        scaling_factors_df.loc['PNR-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['PNR-TRANSIT', 'All'] / hts_tours_df.loc['PNR-TRANSIT', 'All']
        scaling_factors_df.loc['KNR-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['KNR-TRANSIT', 'All'] / hts_tours_df.loc['KNR-TRANSIT', 'All']
        scaling_factors_df.loc['TNC-TRANSIT', 'scaling_factor'] = calibration_targets_df.loc['TNC-TRANSIT', 'All'] / hts_tours_df.loc['TNC-TRANSIT', 'All']
        scaling_factors_df.replace(to_replace=np.inf, value=0, inplace=True)
        scaling_factors_df.name = calibration_targets_df.name
        tour_mc_scaling_factors_dfs.append(scaling_factors_df)
        
        # create distribution table
        calibration_targets_pct_df = calibration_targets_df.copy()
        calibration_targets_pct_df.drop(labels='All', axis=0, inplace=True)
        cols = list(calibration_targets_pct_df.columns)
        calibration_targets_pct_df[cols] = calibration_targets_pct_df[cols].div(calibration_targets_pct_df[cols].sum(axis=0), axis=1)

        #trip_mc_calib_targets_pct_df.loc['All'] = trip_mc_calib_targets_pct_df.sum()
        calibration_targets_pct_df.loc['All'] = calibration_targets_pct_df.sum(axis=0)
        
        calibration_targets_pct_df.name = calibration_targets_df.name
        
        tour_mc_calib_targets_pct_dfs.append(calibration_targets_pct_df)
        
    return tour_mc_calib_targets_dfs, tour_mc_scaling_factors_dfs, tour_mc_calib_targets_pct_dfs

In [61]:
tour_mc_calib_targets_dfs, tour_mc_scaling_factors_dfs, tour_mc_calib_targets_pct_dfs = create_final_tour_mc_targets(obs_tour_mc_tours_dfs, hts_tour_mc_dfs)

C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:26: RuntimeWarning: divide by zero encountered in double_scalars

In [62]:
# Creating a table that is the sum of all non-Total purposes for consistency check
tour_mc_summed_purposes_df = tour_mc_calib_targets_dfs[1].copy()
for i in range(2, len(tour_mc_calib_targets_dfs)):
    tour_mc_summed_purposes_df = tour_mc_summed_purposes_df + tour_mc_calib_targets_dfs[i]
tour_mc_summed_purposes_df.name = 'Non-Total Sum'
tour_mc_calib_targets_dfs.append(tour_mc_summed_purposes_df)

In [63]:
tour_mc_scaling_factors_dfs

[             scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.566013
 PNR-TRANSIT        0.745575
 KNR-TRANSIT        0.461612
 TNC-TRANSIT         1.53465
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.872247
 PNR-TRANSIT        0.910511
 KNR-TRANSIT        0.754137
 TNC-TRANSIT         2.36465
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.744159
 PNR-TRANSIT        0.686714
 KNR-TRANSIT         0.27956
 TNC-TRANSIT        0.970443
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.369432
 PNR-TRANSIT        0.849498
 KNR-TRANSIT        0.332806
 TNC-TRANSIT             inf
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.955523
 PNR-TRANSIT         1.54044
 KNR-TRANSIT         3.81132
 TNC-TRANSIT             inf
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.283047
 PNR-TRANSIT        0.190105
 KNR-TRANSIT        0.187731
 TNC-TRANSIT         0.88825
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT        0.28432
 PNR-TRANSIT        0.119451
 KNR-TRANSIT        0.139982
 TNC-TRANSIT        0.491754
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT        1.06457
 PNR-TRANSIT        0.604938
 KNR-TRANSIT        0.256612
 TNC-TRANSIT             inf
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>,
              scaling_factor
 DRIVEALONE             <NA>
 SHARED2                <NA>
 SHARED3                <NA>
 WALK                   <NA>
 BIKE                   <NA>
 WALK-TRANSIT       0.640232
 PNR-TRANSIT        0.125443
 KNR-TRANSIT        0.488162
 TNC-TRANSIT             inf
 TAXI                   <NA>
 TNC-REG                <NA>
 TNC-SHARED             <NA>
 SCHOOLBUS              <NA>
 All                    <NA>]

In [64]:
# Writing Tour Mode Choice targets
# HTS tours
write_tables_to_excel(
    dfs=hts_tour_mc_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=0,
    title='HTS Survey Tours',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

# OBS trips
write_tables_to_excel(
    dfs=obs_tour_mc_trips_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=7,
    title='On-Board Survey Trips',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

# Transit Trips per Transit tour
# using the same scaling factor for all trip purposes
transit_trips_per_transit_tour_dfs = [transit_trips_per_transit_tour_df for i in range(len(obs_tour_mc_trips_dfs))]
write_tables_to_excel(
    dfs=transit_trips_per_transit_tour_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=13,
    title='OBS Trips to Tours Factors',
    sep_for_col_title=1,
    col_title=''
)

# OBS tours
write_tables_to_excel(
    dfs=obs_tour_mc_tours_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=16,
    title='On-Board Survey Tours',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

# Calibration Targets
write_tables_to_excel(
    dfs=tour_mc_calib_targets_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=23,
    title='Calibration Targets',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)


# Calibration Targets distributions
write_tables_to_excel(
    dfs=tour_mc_calib_targets_pct_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='tour_mode_choice',
    start_row=0,
    start_col=30,
    title='Calibration Targets - Distribution',
    sep_for_col_title=3,
    col_title='Auto Sufficiency'
)

### Creating final Trip Mode Choice targets

In [65]:
def create_trip_mode_choice_targets(hts_trip_mc_dfs, obs_tour_mc_trips_dfs):
    trip_mc_calib_targets_dfs = []
    obs_trip_target_dfs = []
    trip_mc_scaling_factors_dfs = []
    hts_trip_mc_dfs_updated = []
    trip_mc_calib_targets_pct_dfs = []
    for i in range(len(obs_tour_mc_tours_dfs)):
        hts_trip_tour_mode_df = hts_trip_mc_dfs[i]
        obs_trips_df = obs_tour_mc_trips_dfs[i]
        assert obs_trips_df.name == hts_trip_tour_mode_df.name, "Purposes not the same!"
        
        # Copying OBS trip targets and Scaling
        obs_trip_target_df = pd.DataFrame(index=output_calibration_modes)
        obs_trip_target_df['OBS_trips'] = pd.NA
        obs_trip_target_df['row_scaling_factor'] = pd.NA
        obs_trip_target_df['col_scaling_factor'] = pd.NA
        trip_mc_calib_targets_df = hts_trip_tour_mode_df.copy()

        transit_modes = ['WALK-TRANSIT', 'PNR-TRANSIT', 'KNR-TRANSIT', 'TNC-TRANSIT']
        
        # display(hts_trip_tour_mode_df)
        for transit_mode in transit_modes:

     
            # final trip targets come from OBS
            obs_trip_target_df.loc[transit_mode, 'OBS_trips'] = obs_trips_df.loc[transit_mode, 'All']
            # scaling linked-trips to match trip targets from OBS
            obs_trip_target_df.loc[transit_mode, 'row_scaling_factor'] = \
                obs_trip_target_df.loc[transit_mode, 'OBS_trips'] / hts_trip_tour_mode_df.loc[transit_mode, 'All']
            trip_mc_calib_targets_df.loc[transit_mode] = \
                trip_mc_calib_targets_df.loc[transit_mode] * obs_trip_target_df.loc[transit_mode, 'row_scaling_factor']

            # need to scale such that the trip distribution between non-transit and transit trips 
            #  for the transit mode remain the same

            pre_scaled_transit_tours = hts_trip_tour_mode_df.loc[transit_modes, transit_mode].sum()
            print(pre_scaled_transit_tours)
            scaled_transit_tours = trip_mc_calib_targets_df.loc[transit_modes, transit_mode].sum()
            print(scaled_transit_tours)

            # creating scaling factor for non-transit trips in transit tours
            obs_trip_target_df.loc[transit_mode, 'col_scaling_factor'] = scaled_transit_tours / pre_scaled_transit_tours
            print(obs_trip_target_df)
            # applying that scaling factor to non-transit trips
            trip_mc_calib_targets_df.loc[~hts_trip_tour_mode_df.index.isin(transit_modes), transit_mode] = \
                    hts_trip_tour_mode_df.loc[~hts_trip_tour_mode_df.index.isin(transit_modes), transit_mode] \
                    * obs_trip_target_df.loc[transit_mode, 'col_scaling_factor']
            
            # when there are no transit trips in HTS, but there are targets in OBS survey, all OBS trips are assumed symmetric
            if (hts_trip_tour_mode_df.loc[transit_mode, transit_modes].sum() == 0):
                trip_mc_calib_targets_df.loc[transit_mode, transit_mode] = obs_trip_target_df.loc[transit_mode, 'OBS_trips']
        

        
        obs_trip_target_df.loc['All', 'OBS_trips'] = obs_trip_target_df['OBS_trips'].sum()
        obs_trip_target_df.replace(to_replace=np.inf, value=0, inplace=True)
        obs_trip_target_df.name = obs_trips_df.name
        obs_trip_target_dfs.append(obs_trip_target_df)
        

        trip_mc_calib_targets_df.fillna(0, inplace=True)

        trip_mc_calib_targets_df.loc['All'] = trip_mc_calib_targets_df.drop(labels='All', axis=0, inplace=False).sum()
        trip_mc_calib_targets_df.loc[:,'All'] = trip_mc_calib_targets_df.drop(labels='All', axis=1, inplace=False).sum(axis=1)
        trip_mc_calib_targets_df = round(trip_mc_calib_targets_df)
        trip_mc_calib_targets_df.name = obs_trip_target_df.name
        
        # create distribution table
        trip_mc_calib_targets_pct_df = trip_mc_calib_targets_df.copy()
        trip_mc_calib_targets_pct_df.drop(labels='All', axis=0, inplace=True)
        cols = list(trip_mc_calib_targets_pct_df.columns)
        trip_mc_calib_targets_pct_df[cols] = trip_mc_calib_targets_pct_df[cols].div(trip_mc_calib_targets_pct_df[cols].sum(axis=0), axis=1)

        #trip_mc_calib_targets_pct_df.loc['All'] = trip_mc_calib_targets_pct_df.sum()
        trip_mc_calib_targets_pct_df.loc['All'] = trip_mc_calib_targets_pct_df.sum(axis=0)
        
        trip_mc_calib_targets_pct_df.name = trip_mc_calib_targets_df.name
        
        trip_mc_calib_targets_dfs.append(trip_mc_calib_targets_df)
        hts_trip_mc_dfs_updated.append(hts_trip_tour_mode_df)
        trip_mc_calib_targets_pct_dfs.append(trip_mc_calib_targets_pct_df)

    return obs_trip_target_dfs, trip_mc_calib_targets_dfs, hts_trip_mc_dfs_updated, trip_mc_calib_targets_pct_dfs

In [66]:
hts_trip_mc_dfs_init = hts_trip_mc_dfs.copy()
obs_trip_target_dfs, trip_mc_calib_targets_dfs, hts_trip_mc_dfs, trip_mc_calib_targets_pct_dfs = create_trip_mode_choice_targets(
    hts_trip_mc_dfs_init, obs_tour_mc_trips_dfs)

1757495.0
994765.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    994765           0.566013           0.566013
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
219974.0
194779.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    994765           0.566013           0.566013
PNR-TRANSIT     194779           0.885464           0.885464
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
145621.0
93446.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    994765           0.566013           0.566013
PNR-TRANSIT     194779           0.885464           0.885464
KNR-TRANSIT      93446           0.641707           0.641707
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
7224.0
15412.999999999998
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    994765           0.566013           0.566013
PNR-TRANSIT     194779           0.885464           0.885464
KNR-TRANSIT      93446           0.641707           0.641707
TNC-TRANSIT      15413            2.13358            2.13358
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
692569.0
606592.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    606592           0.875858           0.875858
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
166763.0
174514.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    606592           0.875858           0.875858
PNR-TRANSIT     174514            1.04648            1.04648
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
61737.0
66438.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    606592           0.875858           0.875858
PNR-TRANSIT     174514            1.04648            1.04648
KNR-TRANSIT      66438            1.07615            1.07615
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
3115.0
9765.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    606592           0.875858           0.875858
PNR-TRANSIT     174514            1.04648            1.04648
KNR-TRANSIT      66438            1.07615            1.07615
TNC-TRANSIT       9765            3.13483            3.13483
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
93222.0
75316.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     75316           0.807921           0.807921
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
7020.0
5023.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     75316           0.807921           0.807921
PNR-TRANSIT       5023           0.715527           0.715527
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
15782.0
5787.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     75316           0.807921           0.807921
PNR-TRANSIT       5023           0.715527           0.715527
KNR-TRANSIT       5787           0.366684           0.366684
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
653.0
788.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     75316           0.807921           0.807921
PNR-TRANSIT       5023           0.715527           0.715527
KNR-TRANSIT       5787           0.366684           0.366684
TNC-TRANSIT        788            1.20674            1.20674
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
117465.0
45457.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     45457           0.386983           0.386983
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
598.0
1015.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     45457           0.386983           0.386983
PNR-TRANSIT       1015            1.69732            1.69732
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
13076.0
5888.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     45457           0.386983           0.386983
PNR-TRANSIT       1015            1.69732            1.69732
KNR-TRANSIT       5888           0.450291           0.450291
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
0.0
0.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     45457           0.386983           0.386983
PNR-TRANSIT       1015            1.69732            1.69732
KNR-TRANSIT       5888           0.450291           0.450291
TNC-TRANSIT        343                inf                NaN
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
15412.0
23574.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     23574            1.52959            1.52959
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
1669.0
5141.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     23574            1.52959            1.52959
PNR-TRANSIT       5141            3.08029            3.08029
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
326.0
2020.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     23574            1.52959            1.52959
PNR-TRANSIT       5141            3.08029            3.08029
KNR-TRANSIT       2020            6.19632            6.19632
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
0.0
0.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     23574            1.52959            1.52959
PNR-TRANSIT       5141            3.08029            3.08029
KNR-TRANSIT       2020            6.19632            6.19632
TNC-TRANSIT        663                inf                NaN
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
503997.0
136529.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    136529           0.270892           0.270892
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
20950.0
5418.999999999999
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT    136529           0.270892           0.270892

22328.0
4605.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     86727           0.281218           0.281218
PNR-TRANSIT       3117           0.152458           0.152458
KNR-TRANSIT       4605           0.206243           0.206243
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
1451.0
1311.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     86727           0.281218           0.281218
PNR-TRANSIT       3117           0.152458           0.152458
KNR-TRANSIT       4605           0.206243           0.206243
TNC-TRANSIT       1311           0.903515           0.903515
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
12207.0
10255.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10255           0.840092           0.840092
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
138.0
196.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10255           0.840092           0.840092
PNR-TRANSIT        196            1.42029            1.42029
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
1513.0
718.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10255           0.840092           0.840092
PNR-TRANSIT        196            1.42029            1.42029
KNR-TRANSIT        718           0.474554           0.474554
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
0.0
0.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10255           0.840092           0.840092
PNR-TRANSIT        196            1.42029            1.42029
KNR-TRANSIT        718           0.474554           0.474554
TNC-TRANSIT        124                inf                NaN
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
14224.0
10315.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10315           0.725183           0.725183
PNR-TRANSIT       <NA>               <NA>               <NA>
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
2392.0
354.00000000000006
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10315           0.725183           0.725183
PNR-TRANSIT        354           0.147993           0.147993
KNR-TRANSIT       <NA>               <NA>               <NA>
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
1054.0
865.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10315           0.725183           0.725183
PNR-TRANSIT        354           0.147993           0.147993
KNR-TRANSIT        865           0.820683           0.820683
TNC-TRANSIT       <NA>               <NA>               <NA>
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>
0.0
0.0
             OBS_trips row_scaling_factor col_scaling_factor
DRIVEALONE        <NA>               <NA>               <NA>
SHARED2           <NA>               <NA>               <NA>
SHARED3           <NA>               <NA>               <NA>
WALK              <NA>               <NA>               <NA>
BIKE              <NA>               <NA>               <NA>
WALK-TRANSIT     10315           0.725183           0.725183
PNR-TRANSIT        354           0.147993           0.147993
KNR-TRANSIT        865           0.820683           0.820683
TNC-TRANSIT        257                inf                NaN
TAXI              <NA>               <NA>               <NA>
TNC-REG           <NA>               <NA>               <NA>
TNC-SHARED        <NA>               <NA>               <NA>
SCHOOLBUS         <NA>               <NA>               <NA>
All               <NA>               <NA>               <NA>

C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:29: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:42: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:29: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:42: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:29: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:42: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:29: RuntimeWarning: divide by zero encountered in double_scalars
C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\ipykernel_launcher.py:42: RuntimeWarning: invalid value encountered in double_scalars

In [67]:
# Creating a table that is the sum of all non-Total purposes for consistency check
summed_purposes_df = trip_mc_calib_targets_dfs[1].copy()
for i in range(2, len(trip_mc_calib_targets_dfs)):
    summed_purposes_df = summed_purposes_df + trip_mc_calib_targets_dfs[i]
summed_purposes_df.name = 'Non-Total Sum'
trip_mc_calib_targets_dfs.append(summed_purposes_df)

In [68]:
hts_trip_mc_dfs[0]

grouped_tour_mode,DRIVEALONE,SHARED2,SHARED3,WALK,BIKE,WALK-TRANSIT,PNR-TRANSIT,KNR-TRANSIT,TNC-TRANSIT,TAXI,TNC-REG,TNC-SHARED,SCHOOLBUS,All
grouped_linked_trip_mode,,,,,,,,,,,,,,
DRIVEALONE,13155861.0,2224987.0,884386.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16265235.0
SHARED2,0.0,5765839.0,1042072.0,0.0,0.0,0.0,0.0,0.0,0.0,23389.0,14060.0,7648.0,105825.0,6958833.0
SHARED3,0.0,0.0,4019630.0,0.0,0.0,0.0,0.0,0.0,0.0,7866.0,9395.0,1976.0,101340.0,4140206.0
WALK,170419.0,164878.0,139236.0,2615995.0,0.0,504991.0,0.0,0.0,0.0,6379.0,52909.0,18249.0,32468.0,3705523.0
BIKE,0.0,0.0,0.0,0.0,376850.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376850.0
WALK-TRANSIT,0.0,0.0,0.0,0.0,0.0,1757495.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1757495.0
PNR-TRANSIT,0.0,0.0,0.0,0.0,0.0,0.0,219974.0,0.0,0.0,0.0,0.0,0.0,0.0,219974.0
KNR-TRANSIT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,145621.0,0.0,0.0,0.0,0.0,0.0,145621.0
TNC-TRANSIT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7224.0,0.0,0.0,0.0,0.0,7224.0
TAXI,0.0,0.0,0.0,0.0,0.0,14310.0,390.0,1048.0,527.0,99600.0,8998.0,936.0,2784.0,128594.0
TNC-REG,0.0,0.0,0.0,0.0,0.0,32964.0,1376.0,3540.0,918.0,0.0,117689.0,21985.0,0.0,178471.0
TNC-SHARED,0.0,0.0,0.0,0.0,0.0,19894.0,70.0,3624.0,0.0,0.0,0.0,62749.0,0.0,86338.0
SCHOOLBUS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,743451.0,743451.0
All,13326280.0,8155705.0,6085324.0,2615995.0,376850.0,2329654.0,221811.0,153833.0,8669.0,137233.0,203052.0,113543.0,985867.0,34713815.0

In [69]:
# writing HTS trip mode choice targets
write_tables_to_excel(
    dfs=hts_trip_mc_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=0,
    title='HTS Survey Trips',
    sep_for_col_title=5,
    col_title='Tour Mode'
)

# OBS trips and scaling factors
write_tables_to_excel(
    dfs=obs_trip_target_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=15,
    title='OBS Trip Targets',
    sep_for_col_title=1,
    col_title=''
)

# Trip Mode Targets
write_tables_to_excel(
    dfs=trip_mc_calib_targets_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=20,
    title='Trip Mode Choice Targets',
    sep_for_col_title=5,
    col_title='Tour Mode'
)

# Trip Mode Targets
write_tables_to_excel(
    dfs=trip_mc_calib_targets_pct_dfs,
    excel_writer=excel_writer,
    excel_sheet_name='trip_mode_choice',
    start_row=0,
    start_col=36,
    title='Trip Mode Choice Targets - Distribution',
    sep_for_col_title=5,
    col_title='Tour Mode'
)

In [70]:
excel_writer.save()
excel_writer.close()

C:\Users\leah.flake\.conda\envs\mcasim\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

## Writing Final Tables

In [71]:
print('Tour mode choice calibration targets written to: ', tour_mode_choice_output_path)
for df in tour_mc_calib_targets_dfs:
    table_name = df.name.replace('Purpose: ','') + '.csv'
    print(table_name)
    df.to_csv(os.path.join(tour_mode_choice_output_path, table_name))

print('Trip mode choice calibration targets written to: ', trip_mode_choice_output_path)
for df in trip_mc_calib_targets_dfs:
    table_name = df.name.replace('Purpose: ','') + '.csv'
    print(table_name)
    df.to_csv(os.path.join(trip_mode_choice_output_path, table_name))

Tour mode choice calibration targets written to:  output\tour_mode_choice
Total.csv
Work.csv
University.csv
School.csv
Work sub-tour.csv
Ind-Maintenance.csv
Ind-Discretionary.csv
Joint-Maintenance.csv
Joint-Discretionary.csv
Non-Total Sum.csv
Trip mode choice calibration targets written to:  output\trip_mode_choice
Total.csv
Work.csv
University.csv
School.csv
Work sub-tour.csv
Ind-Maintenance.csv
Ind-Discretionary.csv
Joint-Maintenance.csv
Joint-Discretionary.csv
Non-Total Sum.csv

In [72]:
# Merging final Tables into one output table for the automated calibration script
def melt_df(df, melt_id_var, value_name):
    melted_df = df.reset_index().melt(id_vars=[melt_id_var])
    melted_df.rename(columns={'value': value_name}, inplace=True)
    melted_df['purpose'] = df.name.replace('Purpose: ', '')
    return melted_df

melted_dfs = []
# Don't want to include the non-total sum table
for df in tour_mc_calib_targets_dfs[:-1]:
    melted_df = melt_df(df, melt_id_var='grouped_tour_mode', value_name='tours')
    melted_dfs.append(melted_df)
tour_mode_choice_calibration_table = pd.concat(melted_dfs)

melted_dfs = []
# Don't want to include the non-total sum table
for df in trip_mc_calib_targets_dfs[:-1]:
    melted_df = melt_df(df, melt_id_var='grouped_linked_trip_mode', value_name='trips')
    melted_dfs.append(melted_df)
trip_mode_choice_calibration_table = pd.concat(melted_dfs)

tour_mode_choice_calibration_table.to_csv(os.path.join(output_path, 'tour_mode_choice_calibration_targets.csv'), index=False)
trip_mode_choice_calibration_table.to_csv(os.path.join(output_path, 'trip_mode_choice_calibration_targets.csv'), index=False)

## Output Statistics

In [73]:
trip_counts_df = pd.DataFrame(index=['WALK-TRANSIT', 'PNR-TRANSIT', 'KNR-TRANSIT'])
trip_counts_df['HTS Raw'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT'])
trip_counts_df.loc['PNR-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT'])
trip_counts_df.loc['KNR-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT'])
trip_counts_df.loc['TNC-TRANSIT', 'HTS Raw'] = len(spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'TNC-TRANSIT'])

trip_counts_df['HTS Weighted'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'WALK-TRANSIT']['PER_WEIGHT'].sum()
trip_counts_df.loc['PNR-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'PNR-TRANSIT']['PER_WEIGHT'].sum()
trip_counts_df.loc['KNR-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'KNR-TRANSIT']['PER_WEIGHT'].sum()
trip_counts_df.loc['TNC-TRANSIT', 'HTS Weighted'] = spa_out_trips_df[spa_out_trips_df['grouped_linked_trip_mode'] == 'TNC-TRANSIT']['PER_WEIGHT'].sum()

trip_counts_df['OBS Raw'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'WALK-TRANSIT'])
trip_counts_df.loc['PNR-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'PNR-TRANSIT'])
trip_counts_df.loc['KNR-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'KNR-TRANSIT'])
trip_counts_df.loc['TNC-TRANSIT', 'OBS Raw'] = len(obs_df[obs_df['grouped_tour_mode'] == 'TNC-TRANSIT'])

trip_counts_df['OBS Weighted'] = pd.NA
trip_counts_df.loc['WALK-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'WALK-TRANSIT']['linked_weight_scaled'].sum()
trip_counts_df.loc['PNR-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'PNR-TRANSIT']['linked_weight_scaled'].sum()
trip_counts_df.loc['KNR-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'KNR-TRANSIT']['linked_weight_scaled'].sum()
trip_counts_df.loc['TNC-TRANSIT', 'OBS Weighted'] = obs_df[obs_df['grouped_tour_mode'] == 'TNC-TRANSIT']['linked_weight_scaled'].sum()

trip_counts_df.loc['All'] = trip_counts_df.sum()
print('Trips in each survey:')
trip_counts_df

Trips in each survey:

             HTS Raw HTS Weighted OBS Raw OBS Weighted
WALK-TRANSIT    8605  1.75749e+06   90598       994765
PNR-TRANSIT     1349       219974   69146       194779
KNR-TRANSIT      634       145621   21328      93445.7
TNC-TRANSIT       38      7223.82    2639      15413.2
All            10626  2.13031e+06  183711   1.2984e+06

In [74]:

    
# creating output tables for visualizer
mode_vis_dict = {
    'DRIVEALONE': 1,
    'SHARED2': 2,
    'SHARED3': 3,
    'WALK': 4,
    'BIKE': 5,
    'WALK-TRANSIT': 6,
    'PNR-TRANSIT': 7,
    'KNR-TRANSIT': 8,
    'TNR-TRANSIT': 9,
    'TNC-TRANSIT': 9,
    'SCHOOLBUS': 10,
    'TAXI': 11,
    'All': 'Total'
}
purpose_vis_dict = {
    'University': 'univ',
    'School': 'sch',
    'Work': 'work',
    'Work sub-tour': 'atwork',
    'Ind-Discretionary': 'idisc',
    'Ind-Maintenance': 'imain',
    'Joint-Maintenance': 'jmain',
    'Joint-Discretionary': 'jdisc',
    'Total': 'Total'
}



tour_mc_vis = tour_mode_choice_calibration_table.copy()
tour_mc_vis.loc[tour_mc_vis['grouped_tour_mode'].isin(['TNC-REG','TNC-SHARED']), 'grouped_tour_mode'] = 'TAXI'
tour_mc_vis = tour_mc_vis[tour_mc_vis['grouped_tour_mode'] != 'All']
tour_mc_vis['id'] = tour_mc_vis['grouped_tour_mode'].apply(lambda x: mode_vis_dict[x])
tour_mc_vis['purpose'] = tour_mc_vis['purpose'].apply(lambda x: purpose_vis_dict[x])
tour_mc_vis = tour_mc_vis.reset_index(drop=True).pivot_table(
    columns='auto_suff', values='tours', index=['id','purpose']).reset_index()
tour_mc_vis = tour_mc_vis.rename(columns={0: 'freq_as0', 1: 'freq_as1', 2: 'freq_as2', 'All': 'freq_all'})
tour_mc_vis.to_csv(os.path.join(output_path,'visualizer_summaries','tmodeProfile_vis_calib.csv'), index=False)

In [75]:


modename_vis_dict = {
    'DRIVEALONE': 'Auto SOV',
    'SHARED2': 'Auto 2 Person',
    'SHARED3': 'Auto 3+ Person',
    'WALK': 'Auto SOV',
    'BIKE': 'Bike/Moped',
    'WALK-TRANSIT': 'Walk-Transit',
    'PNR-TRANSIT': 'PNR-Transit',
    'KNR-TRANSIT': 'KNR-Transit',
    'TNC-TRANSIT': 'TNR-Transit',
    'TAXI': 'Taxi',
    'SCHOOLBUS': 'School Bus',
    'All': 'Total'
}
trip_purpose_vis_dict = purpose_vis_dict
trip_purpose_vis_dict['Total'] = 'total'
trip_purpose_vis_dict['School'] = 'schl'
trip_mc_vis = trip_mode_choice_calibration_table.copy()

trip_mc_vis.loc[trip_mc_vis['grouped_linked_trip_mode'].isin(['TNC-REG','TNC-SHARED']), 'grouped_linked_trip_mode'] = 'TAXI'
trip_mc_vis.loc[trip_mc_vis['grouped_tour_mode'].isin(['TNC-REG','TNC-SHARED']), 'grouped_tour_mode'] = 'TAXI'

trip_mc_vis = trip_mc_vis.groupby(['grouped_linked_trip_mode','grouped_tour_mode', 'purpose']).trips.sum().reset_index()


trip_mc_vis = trip_mc_vis[trip_mc_vis['grouped_linked_trip_mode'] != 'All']
trip_mc_vis['tripmode'] = trip_mc_vis['grouped_linked_trip_mode'].apply(lambda x: mode_vis_dict[x])
trip_mc_vis['tourmode'] = trip_mc_vis['grouped_tour_mode'].apply(lambda x: modename_vis_dict[x])

trip_mc_vis['value'] = trip_mc_vis['trips']
trip_mc_vis.loc[trip_mc_vis['tourmode'] == 'All', 'tourmode'] = 'Total'
trip_mc_vis['tourmode_num'] = trip_mc_vis['grouped_tour_mode'].apply(lambda x: mode_vis_dict[x])
trip_mc_vis['purpose'] = trip_mc_vis['purpose'].apply(lambda x: trip_purpose_vis_dict[x])
trip_mc_vis['grp_var'] = trip_mc_vis.apply(lambda row: \
                                           row['purpose'] + 'tourmode' + str(row['tourmode_num'])
                                           if row['tourmode'] != 'Total' \
                                           else  row['purpose'] + str(row['tourmode_num']), axis=1)
trip_mc_vis_cols = ['tripmode', 'tourmode', 'purpose', 'value', 'grp_var']
trip_mc_vis[trip_mc_vis_cols].to_csv(os.path.join(output_path,'visualizer_summaries','tripModeProfile_vis_calib.csv'), index=False)